<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>绑定协议书 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
<div>
    <div id="wrapper" class="wrapper gzgs-wrapper-content gzgs-banner-bg">
        <div class="row container-fluid center-block">
            <div class="col-xs-12 center-block container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4" style="margin-top:-10px;">
                        <img src="../images/gs_logo.png" class="img-responsive center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center gzgs-font-white m-t-05">

                        <h3>
                            <b>达州市渠县地方税务局</b>
                        </h3>
                        <h5 class="">DAZHOU QUXIAN LOCAL OFFICE, SAT</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content container animated fadeInRight">
        <div class="row" style="margin-left: 2%; margin-right: 2%;">
            <div class="row">
                <div class="col-xs-12">
                    <center>
                        <h3>达州市渠县地方税务局微信身份绑定协议书</h3>
                    </center>
                    <br>
                </div>
                <div class="col-xs-12">
                    <p class="gzgs-sms-text">尊敬的纳税人：
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎使用达州市渠县地方税务局微信。在申请将您的个人微信号与纳税人税务登记信息绑定（以下简称“绑定”）之前，请仔细阅读本服务协议各条款，一旦点击“接受协议书”，即表明您充分了解并同意该协议书所有内容。
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、本人承诺在绑定纳税人税务登记证号码前，已经获得被绑定税务登记证号的纳税人的授权同意。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、为使用达州市渠县地方税务局微信提供的绑定、解绑、预约办税、微信申报等办税功能，本人同意授权广州国税使用本人在广州国税微信操作数据。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、本人对在达州市渠县地方税务局微信录入的所有信息真实性、完整性、准确性，以及在广州国税微信上进行的所有办税操作行为承担全部法律责任。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四、本人自愿接收达州市渠县地方税务局微信向绑定的纳税人提供的所有信息服务。
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;五、授权期限：自本人绑定之日起，至解绑之日止。
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人声明：本人已仔细阅读上述所有条款，本人对所有条款的含义及相应的法律后果已全部通晓并充分理解，本人自愿作出上述授权、承诺和声明。
                    </p>
                    <div class="t-center m-t-2">
                        <a href="applicationAuthority.html" class="btn btn-primary">接受协议书</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" onclick="window.history.back();" class="btn btn-primary">不接受并返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">
        <input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input
            type="hidden" name="url" id="url" value="http">
    </form>

    <script src="../js/jquery-2.1.1.js"></script>

    <script src="../js/jquery.blockUI.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
        function comeLogin() {
            showWait('/sjwg/resources/common/images/loading.gif');
            setTimeout(function () {
                document.getElementById("frmId").submit();
            }, 10);
        }
    </script>
</div>

</body>
</html>