<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>企业身份绑定 | 达州市渠县税务局</title>

    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/app.css">

    <link type="text/css" rel="stylesheet" href="../css/modify.css">

</head>
<body class="white-bg">
<div class="dz-header t-center gzgs-banner-bg t-bold">
    <i class="fa fa-angle-left arrow-left t-white"></i>
    企业身份绑定
</div>
<div class="dz-container">
    <p class="unbind-text t-center t-bold">该手机还没有绑定纳税人，需要绑定纳税人吗？</p>
    <div class="t-center m-t-2">
        <a href="bindPolicy.html" class="btn btn-primary btn-small">确定</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary btn-small">取消</button>
    </div>
</div>
</body>
</html>