<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>我要办税 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/app.css">
</head>
<body>
<div>
    <div class="row gzgs-banner-bg">

        <div class="small-4 columns small-centered text-center">
            <div>
                <div><img src="../images/gs_logo.png" class="gzgs_wx_logo"></div>
            </div>
        </div>

        <div class="small-12 columns small-centered text-center gzgs-banner-zh">
            达州市渠县地方税务局
        </div>
        <div class="small-12 columns small-centered text-center gzgs-banner-en">
            DAZHOU QUXIAN LOCAL OFFICE, SAT
        </div>
    </div>

    <div class="row gzgs-menu-group">
        <div class="small-4 columns text-center">
            <a href="bindPolicy.html" class="gzgs-menu-btn">
                <i class="fa fa-chain fa-4x"></i>

                <p>
                    身份绑定
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="bindPrompt.html" onclick="openUrl('&amp;state=WXSB#wechat_redirect')" class="gzgs-menu-btn">
                <i class="fa fa-weixin fa-4x"></i>

                <p>
                    申报缴税
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="taxGuide.html" class="gzgs-menu-btn">
                <i class="fa fa-tasks fa-4x"></i>

                <p>
                    办税指南
                </p>
            </a>
        </div>

        <div class="small-4 columns text-center">
            <a href="bindPrompt.html" class="gzgs-menu-btn">
                <i class="fa fa-clock-o fa-4x"></i>

                <p>
                    预约办税
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center" style="float:left">
            <a href="waitingNumber.html" class="gzgs-menu-btn">
                <i class="fa fa-users fa-4x"></i>

                <p>
                    办税等候人数
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="taxAddress.html" class="gzgs-menu-btn">
                <i class="fa fa-home fa-4x"></i>

                <p>
                    办税地址
                </p>
            </a>
        </div>

        <div class="small-4 columns text-center">
            <a href="javascript:void(0);" onclick="openUrl('http://m.weibo.cn/u/5750251476?jumpfrom=weibocom','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-linkedin-square fa-4x"></i>

                <p>
                    实时提醒
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="javascript:void(0);" onclick="openBdUrl('wskj')" class="gzgs-menu-btn">
                <i class="fa fa-book fa-4x"></i>

                <p>
                    微税空间
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://wap.vzoom.com/vzoom/weiXinGDbank.action?sign=goApplicationIndxPage','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-cny fa-4x"></i>

                <p>
                    税银服务
                </p>
            </a>
        </div>
        <!--
        <div class="small-4 columns text-center">
          <a href="javascript:void(0);" onclick="openBdUrl('jb')"  class="gzgs-menu-btn">
            <i class="fa fa-chain-broken fa-4x"></i>
            <p>
              身份解绑
            </p>
          </a>
        </div>
         -->

    </div>
    <div style="height: 30px;"></div>
</div>

<div class="footer gzgs-footer text-center">
    <strong>Copyright</strong> 达州市渠县税务局 © 2015
</div>

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
    <!--function showWait(url) {-->
        <!--var path = 'static/admin/img/busy.gif';-->
        <!--$.blockUI({-->
            <!--message: '<div><img src="' + path + '" width="20px" /> 正在加载...</div>',-->
            <!--css: {-->
                <!--border: '0px',-->
                <!--width: '180px',-->
                <!--padding: '10px',-->
                <!--left: ($(window).width() - 180) / 2 + 'px'-->
            <!--}-->
        <!--});-->
        <!--setTimeout(function () {-->
            <!--window.location.href = url;-->
        <!--}, 10);-->
    <!--}-->
    <!--function openUrl(url, type) {-->
        <!--var myUrl = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + appid + '&redirect_uri=http%3A%2F%2F' + basePort + '%2F' + base + '%2Fwx%2Findex%2Fhome&response_type=code&scope=snsapi_base';-->
        <!--myUrl += url;-->
        <!--if (type != null) {-->
            <!--//二级菜单-->
            <!--myUrl = url;-->
        <!--}-->
        <!--showWait(myUrl);-->
    <!--}-->
    <!--function openBdUrl(type) {-->
        <!--if (type == 'bd') {-->
            <!--showWait(bdAddress);-->
        <!--} else if (type == 'jb') {-->
            <!--showWait(jbAddress);-->
        <!--} else {-->
            <!--showWait(wskjAddress);-->
        <!--}-->
    <!--}-->
<!--</script>-->

</body>
</html>