<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base href="../../">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>我要查询 | 广州市国家税务局</title>
    <script type="text/javascript">
        var base = "gzgswx";
        var appid = "wxb353e3637597d8f1";
        var basePort = "wxfw.12366.gov.cn";
    </script>
    <link href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
<div>
    <div class="row gzgs-banner-bg">

        <div class="small-4 columns small-centered text-center">
            <div>
                <div><img src="../images/gs_logo.png" class="gzgs_wx_logo"></div>
            </div>
        </div>

        <div class="small-12 columns small-centered text-center gzgs-banner-zh">
            达州市渠县地方税务局
        </div>
        <div class="small-12 columns small-centered text-center gzgs-banner-en">
            DAZHOU QUXIAN LOCAL OFFICE, SAT
        </div>
    </div>

    <div class="row gzgs-menu-group">
        <div class="small-4 columns text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://portal.gd-n-tax.gov.cn/wcm/weixin/contentlist_search.jsp?action=contentList&amp;categoryId=46891&amp;siteName=904052','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-bullhorn fa-4x"></i>

                <p>
                    最新通知
                </p>
            </a>
        </div>
        <div class="small-4 columns end text-center">
            <a href="javascript:void(0);" onclick="openUrl('&amp;state=NSRXX#wechat_redirect')" class="gzgs-menu-btn">
                <i class="fa fa-indent fa-4x"></i>

                <p>
                    我的涉税信息
                </p>
            </a>
        </div>
        <div class="small-4 columns end text-center">
            <a href="javascript:void(0);" onclick="openUrl('&amp;state=SLSX#wechat_redirect')" class="gzgs-menu-btn">
                <i class="fa fa-envelope fa-4x"></i>

                <p>
                    我的申请事项
                </p>
            </a>
        </div>

        <div class="small-4 columns text-center">
            <a href="javascript:void(0);" onclick="openUrl('http://m.weibo.cn/d/gzgs12366?jumpfrom=weibocom','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-weibo fa-4x"></i>

                <p>
                    国税微博
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://portal.gd-n-tax.gov.cn/wcm/weixin/nrpage.jsp?siteName=904052&amp;contentId=605486','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-bell fa-4x"></i>

                <p>
                    营改增专栏
                </p>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://portal.gd-n-tax.gov.cn/wcm/weixin/categoryList.jsp?action=categoryList&amp;categoryId=503&amp;siteName=904052','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-institution fa-4x"></i>

                <p>
                    纳税人学堂
                </p>
            </a>
        </div>

        <div class="small-4 columns text-center">
            <a href="javascript:void(0);" onclick="openUrl('home/product/sxcx.html', '1')" class="gzgs-menu-btn">
                <i class="fa fa-folder-open fa-4x"></i>

                <p>
                    涉税查询
                </p>
            </a>
        </div>
        <div class="small-4 columns end text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://portal.gd-n-tax.gov.cn/wcm/weixin/categoryList.jsp?action=categoryList&amp;categoryId=48782&amp;siteName=904052','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-book fa-4x"></i>

                <p>
                    税收法规
                </p>
            </a>
        </div>
        <div class="small-4 columns end text-center">
            <a href="javascript:void(0);"
               onclick="openUrl('http://mp.weixin.qq.com/s?__biz=MjM5NzE0NTE2MA==&amp;mid=403785692&amp;idx=1&amp;sn=9ec302c1c5efcc7debaa0b6495a46c73#rd','1')"
               class="gzgs-menu-btn">
                <i class="fa fa-calendar fa-4x"></i>

                <p>
                    申报期预告
                </p>
            </a>
        </div>

    </div>
    <div style="height: 30px;"></div>
</div>

<div class="footer gzgs-footer text-center">
    <strong>Copyright</strong> 广州市国家税务局 © 2015
</div>

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">
    function showWait(url) {
        var path = 'static/admin/img/busy.gif';
        $.blockUI({
            message: '<div><img src="' + path + '" width="20px" /> 正在加载...</div>',
            css: {
                border: '0px',
                width: '180px',
                padding: '10px',
                left: ($(window).width() - 180) / 2 + 'px'
            }
        });
        setTimeout(function () {
            window.location.href = url;
        }, 10);
    }
    function openUrl(url, type) {
        var myUrl = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + appid + '&redirect_uri=http%3A%2F%2F' + basePort + '%2F' + base + '%2Fwx%2Findex%2Fhome&response_type=code&scope=snsapi_base';
        myUrl += url;
        if (type != null) {
            //二级菜单
            myUrl = url;
        }
        showWait(myUrl);
    }
</script>

</body>
</html>