<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>办税指南 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">

    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=49ae9ffa8fbf7d506a882467f1af410f"></script>

    <style>

    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-title t-center">
            <h3 class="title tax-address-title">
                广州市ETS系统停运的通知
            </h3>
            <p class="guide-datetime">日期：2015-08-27 14:36:56</p>
        </div>
        <div class="guide-content m-t-2 t-indent">
            <p>接人行广州营管部通知，因结算中心大楼供电系统维护，广州市电子缴税入库系统（ETS）将于2016年4月2日0点-4日12点停运，期间停止受理税款扣缴。</p>
            <p>特此通知。</p>
        </div>
    </div>
</div>

<!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
<!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
<!--type="hidden" name="url" id="url" value="http">-->
<!--</form>-->

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
<!--function comeLogin() {-->
<!--showWait('/sjwg/resources/common/images/loading.gif');-->
<!--setTimeout(function () {-->
<!--document.getElementById("frmId").submit();-->
<!--}, 10);-->
<!--}-->
<!--</script>-->

</body>
</html>