<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>通知公告 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
<!--<div>-->
    <div id="wrapper" class="wrapper gzgs-wrapper-content gzgs-banner-bg">
        <div class="row container-fluid center-block">
            <div class="col-xs-12 center-block container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4" style="margin-top:-10px;">
                        <img src="../images/gs_logo.png" class="img-responsive center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center gzgs-font-white m-t-05">

                        <h3>
                            <b>达州市渠县税务局</b>
                        </h3>
                        <h5 class="">GUANGZHOU MUNICIPAL OFFICE, SAT</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content container animated fadeInRight">
        <h3 class="subtitle">
            通知公告
        </h3>
        <div class="guide-lists m-t-2">
            <div class="guide-search"><input placeholder="关键字" class="">
                <button class="btn btn-success search-btn">搜索</button>
            </div>
            <table class="w-100 guide-classify-list">
                <tbody>
                <tr>
                    <td>
                        <a href="#">广州市ETS系统停运的通知</a>
                    </td>
                    <td>
                        2015-08-27
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">广州市国家税务局关于试点实行实名制办税的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">关于2015年度居民企业所得税汇算清缴有关问题的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">广东省国家税务局关于出口企业相关税务事项暂停办理的通告</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">关于2016年3月份纳税服务接待日工作安排的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">关于启用新版《企业所得税优惠事项备案表》的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">广州市国家税务局关于全面推行预约办税的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">关于升级出口商品退税率文库(2016A版)的通知</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">关于上传增值税发票系统离线发票的提醒</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">转发广东省国家税务局关于金税三期工程优化版等系统停机维护的通...</a>
                    </td>
                    <td>
                        2015-08-21
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer gzgs-footer text-center">
        <strong>Copyright</strong> 达州市渠县税务局 © 2015
    </div>
    <!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
    <!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
    <!--type="hidden" name="url" id="url" value="http">-->
    <!--</form>-->

    <script src="../js/jquery-2.1.1.js"></script>

    <script src="../js/jquery.blockUI.js"></script>
    <script src="../js/common.js"></script>
    <!--<script type="text/javascript">-->
    <!--function comeLogin() {-->
    <!--showWait('/sjwg/resources/common/images/loading.gif');-->
    <!--setTimeout(function () {-->
    <!--document.getElementById("frmId").submit();-->
    <!--}, 10);-->
    <!--}-->
    <!--</script>-->
<!--</div>-->

</body>
</html>