<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>税收法规 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-title t-center">
            <h3 class="title">
                关于《广东省国家税务局关于启用新版普通发票的公告》的政策解读
            </h3>

            <p class="guide-datetime">日期：2016-04-07 09:24:51</p>
        </div>
        <div class="guide-content m-t-2 t-indent">
            <p>
                根据《财政部国家税务总局关于全面推开营业税改征增值税试点的通知》（财税〔2016〕36号）的文件要求，为确保广东省（不含深圳，下同）“营改增”试点工作顺利开展，决定启用广东省国家税务局监制的新版普通发票。 </p>

            <p>问：为什么发布《广东省国家税务局关于启用新版普通发票的公告》？ </p>

            <p>答：经国务院批准，自2016年5月1日起，在全国范围内全面推开营业税改征增值税试点，建筑业、房地产业、金融业和生活服务业等全部营业税纳税人纳入试点范围。我省根据目前掌握的最新政策制定动态，在对四个行业广东地税局监制的普通发票和冠名发票的用票情况进行了深入详细分析的基础上，对原有的广东省国家税务局监制的普通发票种类进行了整合调整，决定启用新版普通发票，以更好地满足“营改增”试点纳税人和原有国税纳税人的普通发票用票需求。 </p>

            <p>问：此公告有哪些主要内容？ </p>

            <p>答：公告共分四个部分： </p>

            <p>（一）第一部分：明确了启用新版普通发票的时间及新旧发票衔接的规定。 </p>

            <p>（二）第二部分：详细介绍了新版普通发票设置的6类15种发票。 </p>

            <p>（三）第三部分：介绍了新版普通发票防伪特征。 </p>

            <p>（四）第四部分：明确了违反发票管理规定的有关法律责任。 </p>

            <p>问：新版发票有哪几种？ </p>

            <p>答：新版普通发票共6类15种，取消了原有的《广东省国家税务局通用手工发票》和《广东省收购统一发票（无抵扣联电脑版）》，调整了《广东省国家税务局通用机打发票》的尺寸和联次、《广东省国家税务局通用定额发票》的金额版面。</p>
        </div>
    </div>
</div>

<!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
<!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
<!--type="hidden" name="url" id="url" value="http">-->
<!--</form>-->

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
<!--function comeLogin() {-->
<!--showWait('/sjwg/resources/common/images/loading.gif');-->
<!--setTimeout(function () {-->
<!--document.getElementById("frmId").submit();-->
<!--}, 10);-->
<!--}-->
<!--</script>-->

</body>
</html>