<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>企业身份绑定 | 达州市渠县税务局</title>

    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/app.css">

    <link type="text/css" rel="stylesheet" href="../css/modify.css">
    <style>
        .wrapper-content .guide-detail .special-subtitle {
            font-size: 1rem;
            line-height: 2;
            margin-top: 1rem;
            border-bottom: 2px solid #1d82d8;
        }

        .wrapper-content .guide-detail .special-items li a {
            font-size: 0.8rem;
            color: #6e6e6e;
        }

        .wrapper-content .guide-detail .special-items li a:hover {
            color: #D00;
            text-decoration: underline;
        }
    </style>

</head>
<body class="white-bg">
<div class="dz-header t-center gzgs-banner-bg t-bold">
    <i class="fa fa-angle-left arrow-left t-white"></i>
    营改增专题
</div>
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-content">
            <h3 class="special-subtitle">办税类</h3>
            <ul class="special-items">
                <li><a href="#">【宝典】营改增纳税人办税宝典</a></li>
            </ul>
            <h3 class="special-subtitle">行业问答</h3>
            <ul class="special-items">
                <li><a href="#">【宝典】营改增纳税人办税宝典</a></li>
                <li><a href="#">【5月1日起】哪些应税行为营改增？</a></li>
                <li><a href="#">【1】生活服务业营改增十问十答 </a></li>
                <li><a href="#">【2】建筑业营改增十问十答 </a></li>
                <li><a href="#">【3】金融业营改增十问十答 </a></li>
                <li><a href="#">【4】房地产业营改增十问十答 </a></li>
                <li><a href="#">【图解】转让不动产（房产）增值税如何计算 </a></li>
                <li><a href="#">【图解】营改增过渡期40个项目免征增值税 </a></li>
            </ul>
            <h3 class="special-subtitle">国家税务总局发布12366知识库问答</h3>
            <ul class="special-items">
                <li><a href="#">【营改增】必收干货！全面推开营改增试点问答（一）</a></li>
                <li><a href="#">【营改增】必收干货！全面推开营改增试点问答（二）</a></li>
                <li><a href="#">【营改增】必收干货！全面推开营改增试点问答（三）</a></li>
            </ul>
            <h3 class="special-subtitle">政策公告</h3>
            <ul class="special-items">
                <li><a href="#">广东省国家税务局关于全面推开营业税改征增值税试点纳税人若干征收管理事项的公告 </a></li>
                <li><a href="#">关于发布《纳税人转让不动产增值税征收管理暂行办法》的公告 </a></li>
                <li><a href="#">关于营业税改征增值税委托地税机关代征税款和代开增值税发票的公告 </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>