<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>办税地址 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
    <div id="wrapper" class="wrapper gzgs-wrapper-content gzgs-banner-bg">
        <div class="row container-fluid center-block">
            <div class="col-xs-12 center-block container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4" style="margin-top:-10px;">
                        <img src="../images/gs_logo.png" class="img-responsive center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center gzgs-font-white m-t-05">

                        <h3>
                            <b>达州市渠县税务局</b>
                        </h3>
                        <h5 class="">GUANGZHOU MUNICIPAL OFFICE, SAT</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content container animated fadeInRight">
        <h3 class="subtitle">
            办税地址
        </h3>
        <div class="guide-lists m-t-2">
            <ul>
                <!--<li><a href="#">直属一所</a></li>-->
                <li><a href="taxAddressDetail.html">土溪税务所</a></li>
                <li><a href="taxAddressDetail.html">渠北税务所</a></li>
                <li><a href="taxAddressDetail.html">卷硐税务所</a></li>
            </ul>
        </div>
    </div>
    <div class="footer gzgs-footer text-center">
        <strong>Copyright</strong> 达州市渠县税务局 © 2015
    </div>
    <!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
    <!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
    <!--type="hidden" name="url" id="url" value="http">-->
    <!--</form>-->

    <script src="../js/jquery-2.1.1.js"></script>

    <script src="../js/jquery.blockUI.js"></script>
    <script src="../js/common.js"></script>
    <!--<script type="text/javascript">-->
    <!--function comeLogin() {-->
    <!--showWait('/sjwg/resources/common/images/loading.gif');-->
    <!--setTimeout(function () {-->
    <!--document.getElementById("frmId").submit();-->
    <!--}, 10);-->
    <!--}-->
    <!--</script>-->

</body>
</html>