<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>办税指南 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">

    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=49ae9ffa8fbf7d506a882467f1af410f"></script>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-title t-center">
            <h3 class="title tax-address-title">
                土溪税务所
            </h3>
            <!--<p class="guide-datetime">日期：2015-08-27 14:36:56</p>-->
        </div>
        <div class="guide-content m-t-2">
            <div class="tax-address-info">
                <p>地址：广州市荔湾区芳村龙溪大道293号</p>
                <p>联系方式：86329806</p>
                <p>说明：对外服务时间：工作日 上午8：30-12：00，下午13：30-17：00
                    ①点击办税地址显示框左侧"搜索"【◎】图标，即可查看附近的停车场、公交车、餐饮；②点击办税地址显示框右侧"路线"【→↑】图标，即可查看从您所在地到该办税服务厅路线。 </p>
            </div>
            <div class="tax-address-map">
                <p>
                    <a href="http://map.baidu.com/mobile/webapp/place/marker/qt=inf&vt=map&act=read_share&code=257/third_party=uri_api&point=12603596.97%7C2624192.32&title=%E8%BD%A6%E8%B4%AD%E5%88%86%E5%B1%80%E8%8A%B3%E6%9D%91%E5%BE%81%E6%94%B6%E7%82%B9&content=%E5%B9%BF%E5%B7%9E%E5%B8%82%E8%8D%94%E6%B9%BE%E5%8C%BA%E8%8A%B3%E6%9D%91%E9%BE%99%E6%BA%AA%E5%A4%A7%E9%81%93293%E5%8F%B7"
                       class="review-all-map">点击查看整个地图</a></p>
                <iframe src="http://api.map.baidu.com/marker?location=23.074991,113.218806&title=车购分局芳村征收点&content=广州市荔湾区芳村龙溪大道293号&output=html"
                        width="100%" height="400px" id="mapIframeId" name="mapIframeId" frameborder="0"
                        scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>

<!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
<!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
<!--type="hidden" name="url" id="url" value="http">-->
<!--</form>-->

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
<!--function comeLogin() {-->
<!--showWait('/sjwg/resources/common/images/loading.gif');-->
<!--setTimeout(function () {-->
<!--document.getElementById("frmId").submit();-->
<!--}, 10);-->
<!--}-->
<!--</script>-->

</body>
</html>