<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>办税指南 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content container animated fadeInRight">
        <div class="guide-detail">
            <div class="guide-title t-center">
                <h3 class="title">
                    纳税人的财务会计制度备案
                </h3>
                <p class="guide-datetime">日期：2015-08-27 14:36:56</p>
            </div>
            <div class="guide-content m-t-2">


            <p><strong>事项名称：</strong>纳税人的财务会计制度备案</p>
            <p><strong>设定依据：</strong></p>
            <ul>
                <li> 1.《中华人民共和国税收征管法》第二十条;</li>
                <li>2.《税收征管法实施细则》第二十四条。</li>
            </ul>
            <p><strong>申请条件：</strong>从事生产经营的纳税人在领取税务登记证件后，将其财务、会计制度或者财务、会计处理办法报主管税务机关备案。纳税人使用计算机记账的，在使用前将会计电算化系统的会计核算软件、使用说明书及有关资料报送主管税务机关备案。
            </p>
            <p><strong>办理材料：</strong></p>
            <ul>
                <li>1．《财务会计制度及核算软件确认书》（一式一份）。</li>
                <li>2．财务、会计制度或者财务、会计处理办法。</li>
                <li>3．纳税人使用计算机记账的，还须提供会计电算化系统的会计核算软件、使用说明书及有关资料。</li>
            </ul>
            <p><strong>办理地点：</strong>所辖税务机关办税服务厅/网上办税服务厅</p>
            <p><strong>办理时间：</strong>即时</p>
            <p><strong>联系电话：</strong>12366-1</p>
            <p><strong>办理流程：</strong>受理->出具</p>
            </div>
        </div>
    </div>

    <!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
    <!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
    <!--type="hidden" name="url" id="url" value="http">-->
    <!--</form>-->

    <script src="../js/jquery-2.1.1.js"></script>

    <script src="../js/jquery.blockUI.js"></script>
    <script src="../js/common.js"></script>
    <!--<script type="text/javascript">-->
    <!--function comeLogin() {-->
    <!--showWait('/sjwg/resources/common/images/loading.gif');-->
    <!--setTimeout(function () {-->
    <!--document.getElementById("frmId").submit();-->
    <!--}, 10);-->
    <!--}-->
    <!--</script>-->

</body>
</html>