<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>纳税人学堂 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-title t-center">
            <h3 class="title">
                一般纳税人因折让而收回的增值税额，应如何扣减？
            </h3>

            <p class="guide-datetime">日期：2016-04-12 14:54:30</p>
        </div>
        <div class="guide-content m-t-2 t-indent">

            <p>
                根据《中华人民共和国增值税暂行条例实施细则》（财政部 国家税务总局第50号令）第十一条的规定：</p>
            　　 <p>
            “小规模纳税人以外的纳税人（以下称一般纳税人）因销售货物退回或者折让而退还给购买方的增值税额，应从发生销售货物退回或者折让当期的销项税额中扣减；因购进货物退出或者折让而收回的增值税额，应从发生购进货物退出或者折让当期的进项税额中扣减。</p>

            <p>
                一般纳税人销售货物或者应税劳务，开具增值税专用发票后，发生销售货物退回或者折让、开票有误等情形，应按国家税务总局的规定开具红字增值税专用发票。未按规定开具红字增值税专用发票的，增值税额不得从销项税额中扣减。”</p>
        </div>
    </div>
</div>

<!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
<!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
<!--type="hidden" name="url" id="url" value="http">-->
<!--</form>-->

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
<!--function comeLogin() {-->
<!--showWait('/sjwg/resources/common/images/loading.gif');-->
<!--setTimeout(function () {-->
<!--document.getElementById("frmId").submit();-->
<!--}, 10);-->
<!--}-->
<!--</script>-->

</body>
</html>