<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>纳税人学堂 | 达州市渠县税务局</title>
    <!--<script type="text/javascript">-->
    <!--var base ="gzgswx";-->
    <!--var appid = "wxb353e3637597d8f1";-->
    <!--var basePort = "wxfw.12366.gov.cn";-->
    <!--var bdAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FbdLogin&response_type=code&scope=snsapi_base&state=BD#wechat_redirect';-->
    <!--var jbAddress = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri=http%3A%2F%2F'+basePort+'%2F'+base+'%2Fwx%2FjbLogin&response_type=code&scope=snsapi_base&state=JB#wechat_redirect';-->
    <!--var wskjAddress = 'http://'+basePort+'/'+base+'/wsbs/wskj';-->
    <!--</script>-->
    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link href="../css/modify.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="guide-detail">
        <div class="guide-title t-center">
            <h3 class="title">
                请问销售的应税消费品发生退货，能否申请退还已纳消费税？
            </h3>

            <p class="guide-datetime">日期：2015-08-27 14:36:56</p>
        </div>
        <div class="guide-content m-t-2 t-indent">

            <p>
                答：根据《国家税务总局关于取消销货退回消费税退税等两项消费税审批事项后有关管理问题的公告》（国家税务总局公告2015年第91号）规定，纳税人销售的应税消费品，因质量等原因发生退货的，其已缴纳的消费税税款可予以退还。</p>
                　　 <p>纳税人办理退税手续时，应将开具的红字增值税发票、退税证明等资料报主管税务机关备案。主管税务机关核对无误后办理退税。</p>

            <p>因此，您公司可按上述规定申请退还已纳消费税。</p>
        </div>
    </div>
</div>

<!--<form name="frm" method="post" id="frmId" action="/sjwg/wsbs/nsrsqAction.do?method=initSq">-->
<!--<input type="hidden" name="id" id="id" value="3"> <input type="hidden" name="flag" id="flag" value="wx"> <input-->
<!--type="hidden" name="url" id="url" value="http">-->
<!--</form>-->

<script src="../js/jquery-2.1.1.js"></script>

<script src="../js/jquery.blockUI.js"></script>
<script src="../js/common.js"></script>
<!--<script type="text/javascript">-->
<!--function comeLogin() {-->
<!--showWait('/sjwg/resources/common/images/loading.gif');-->
<!--setTimeout(function () {-->
<!--document.getElementById("frmId").submit();-->
<!--}, 10);-->
<!--}-->
<!--</script>-->

</body>
</html>