<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>企业身份绑定 | 达州市渠县税务局</title>

    <link type="text/css" href="../third/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/gzgs.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/app.css">

    <link type="text/css" rel="stylesheet" href="../css/modify.css">
    <style>
        .wrapper-content .waiting-wrap li{
            width: 50%;
            float: left;
            margin: 0.5rem 0;
        }
        .wrapper-content .waiting-wrap li a{
            display: block;
            background-color: #5d9cec;
            width: 92%;
            margin: 0 auto;
            padding: 0.5rem 0;
            text-align: center;
            color: #fff;
            border-radius: 0.5rem;
        }
    </style>
</head>
<body class="white-bg">
<div class="dz-header t-center gzgs-banner-bg t-bold">
    <a href="javascript:window.history.back();" class="fa fa-angle-left arrow-left t-white"></a>
    办税等候人数
</div>
<div class="wrapper wrapper-content container">
    <div class="waiting-wrap">
        <ul>
            <li>
                <a href="#">土溪税务所</a>
            </li>
            <li>
                <a href="#">渠北税务所</a>
            </li>
            <li>
                <a href="#">卷硐税务所</a>
            </li>
        </ul>

    </div>
</div>
</body>
</html>