<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>领导查询</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/jnbankcustomstyle.css">
</head>
<body>
<div class="jnbankstyle_leaderQuery_container">
    <div class="jnbankstyle_leaderQuery_top">&nbsp;</div>
    <div class="jnbankstyle_leaderQuery_main">
        <div class="jnbankstyle_leaderQuery_logo">
            <img class="jnbankstyle-mt20" src="../images/jnbank_homepage_logo.png" alt=""/>

            <div class="jnbankstyle_leaderQuery_logo_right">
                <span><span class="jnbankstyle-txt-a97334">李想</span>，您好！欢迎登录人力资源管理平台！</span><a href="jnbankLogin.html"
                                                                                               class="jnbankstyle_leaderQuery_tuichu"><span
                    class="jnbankstyle-txt-a97334">退出</span></a>
            </div>
        </div>
        <div class="jnbankstyle_leaderQuery_wrapper">
            <div class="jnbankstyle_leaderQuery_content">
                <div class="jnbankstyle_leaderQuery_leader_nav">
                    <ul class="jnbankstyle-clearfix">
                        <li class="jnbankstyle_leaderQuery_active"><a href="#">首页</a></li>
                        <li><a href="#">机构管理</a></li>
                        <li><a href="#">岗位管理</a></li>
                        <li><a href="#">人员管理</a></li>
                        <li><a href="#">合同管理</a></li>
                    </ul>
                </div>
                <div class="jnbankstyle_leaderQuery_main">
                    <div class="jnbankstyle_leaderQuery_part_wrapper">
                        <div class="jnbankstyle_leaderQuery_inner-container jnbankstyle-clearfix">
                            <div class="jnbankstyle_leaderQuery_part jnbankstyle_leaderQuery_zuo">
                                <h3 class="jnbankstyle_leaderQuery_title">最新公告<span
                                        class="jnbankstyle_leaderQuery_english">ANNOUNCEMENTS</span>
                                    <a class="jnbankstyle_leaderQuery_more" href="#">&nbsp;</a>
                                </h3>

                                <div class="jnbankstyle_leaderQuery_subwrapper">
                                    <table class="jnbankstyle-w100">
                                        <tbody>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt="">
                                                <a href="javascript:void(0);">2016年第七期大额存单发行公告</a>
                                            </td>
                                            <td class="jnbankstyle_leaderQuery_date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt=""><a
                                                    href="javascript:void(0);">2016年第六期大额存单发行公告</a>
                                            </td>
                                            <td class="jnbankstyle_leaderQuery_date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt=""><a
                                                    href="javascript:void(0);">我行发放全国首笔农房抵押贷款受到中央...</a>
                                            </td>
                                            <td class="jnbankstyle_leaderQuery_date">2016-02-18</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="jnbankstyle_leaderQuery_part jnbankstyle_leaderQuery_you">
                                <h3 class="jnbankstyle_leaderQuery_title">常用查询<span
                                        class="jnbankstyle_leaderQuery_english">COMMON QUERY</span>
                                </h3>

                                <div class="jnbankstyle_leaderQuery_subwrapper">
                                    <table class="jnbankstyle-w100">
                                        <tbody>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt=""><a
                                                    href="javascript:void(0);">本年内最新任免情况查询</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt=""><a
                                                    href="javascript:void(0);">本年内新入行人员情况查询</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img class="jnbankstyle_leaderQuery_double_angle_right"
                                                     src="../images/jnbank_homepage_biaodian.png" alt=""><a
                                                    href="javascript:void(0);">本年内离职人员情况查询</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jnbankstyle_leaderQuery_part_wrapper jnbankstyle_leaderQuery_organ_summary">

                        <div class="jnbankstyle_leaderQuery_inner-container jnbankstyle-clearfix">
                            <h3 class="jnbankstyle_leaderQuery_title_bg"><img
                                    src="../images/jnbankstyle_leaderQuery_jigougaishu.png" alt="">
                            </h3>

                            <div class="jnbankstyle_leaderQuery_part jnbankstyle-clearfix jnbankstyle-mt30">


                                <div class="jnbankstyle_leaderQuery_subwrapper jnbankstyle-fleft jnbankstyle_leaderQuery_organ_info">
                                    <p>截止2013年12月，全行下有网点<span class="jnbankstyle_leaderQuery_t_ae0c2a">224</span>家，总行1家，支行223家，村镇一行2家。
                                    </p>

                                    <p>一级支行<span class="jnbankstyle_leaderQuery_t_ae0c2a">31</span>家，二级支行<span
                                            class="jnbankstyle_leaderQuery_t_ae0c2a">192</span>家，总行营业部<span
                                            class="jnbankstyle_leaderQuery_t_ae0c2a">1</span>家。
                                    </p>

                                    <p>其中，一级一类支行10家，异地支行3家</p>

                                    <p>一级二类支行18家</p>

                                    <p>二级一类支行48家</p>

                                    <p>二级二类支行93家</p>

                                    <p>二级三雷支行51家</p>
                                </div>
                                <div class="jnbankstyle_leaderQuery_part jnbankstyle-fright jnbankstyle_leaderQuery_organ_chart">
                                    <div id="jnbankstyle_leaderQuery_organ_summary-container"
                                         style="width:550px;height:300px;float:right;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="jnbankstyle_leaderQuery_part_wrapper jnbankstyle_leaderQuery_personal-summary">
                        <div class="jnbankstyle_leaderQuery_inner-container jnbankstyle-clearfix">
                            <div class="jnbankstyle_leaderQuery_part">
                                <h3 class="jnbankstyle_leaderQuery_title_bg"><img
                                        src="../images/jnbankstyle_leaderQuery_renyuangaishu.png" alt="">
                                </h3>

                                <div class="jnbankstyle_leaderQuery_subwrapper jnbankstyle-pl0">
                                    <ul class="jnbankstyle-clearfix">
                                        <li>
                                            <div id="jnbankstyle_leaderQuery-age"></div>

                                        </li>
                                        <li>
                                            <div id="jnbankstyle_leaderQuery_academic"></div>
                                        </li>
                                        <li>
                                            <div id="jnbankstyle_leaderQuery_professional"></div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jnbankstyle_leaderQuery_footer jnbankstyle-t-center">
        版权所有@江苏江南农村商业银行股份有限公司
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/highcharts.js"></script>
<script type="text/javascript" src="../js/highcharts-3d.js"></script>
<script type="text/javascript">
    $(function () {
        /*
         BEGIN 机构数量图表
         */
        $('#jnbankstyle_leaderQuery_organ_summary-container').highcharts({
            title: {
                text: '',
                x: -20 //center
            },
            xAxis: {
                categories: ['一分行', '二分行', '三分行', '四分行', '五分行', '六分行', '七分行', '八分行', '九分行', '十分行', '十一分行', '十二分行']

            },
            yAxis: {
                title: {
                    offset: 0,
                    rotation: 0,
                    align: 'high',
                    y: -20,
                    text: '数量 (家)',
                    style: {
                        fontSize: '12px',
                        fontFamily: 'Microsoft Yahei'
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '家'
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                verticalAlign: 'top',
                borderWidth: 0
            },
            series: [{
                name: '机构数量',
                data: [90, 80, 80, 70, 90, 100, 110, 120, 90, 100, 110, 100]
            }],
            credits: {
                enabled: false
            }
        });
        /*
         END 机构数量图表
         */
        /*
         BEGIN 年龄构成图表
         */
        $('#jnbankstyle_leaderQuery-age').highcharts({
            chart: {
                renderTo: 'container',
                type: 'pie',
                backgroundColor: '#ffffff',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            colors: [
                '#990099',
                '#3366cc',
                '#ca2222',
                '#109618'
            ],
            legend: {
                itemStyle: {
                    fontWeight: 'normal',
                    fontSize: "12px"
                },
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0,
                labelFormatter: function () {
                    return this.name + ' ' + this.y + '人&nbsp';
                },
                useHTML: true,
                margin: 0,
                padding: 4,
                symbolHeight: 10,
                symbolWidth: 4
            },
            title: {
                align: 'left',
                style: {
                    color: "#a97334",
                    fontWeight: 'bold',
                    fontFamily: 'Microsoft Yahei',
                    fontSize: "16px"
                },
                text: '年龄构成'
            },
            plotOptions: {
                pie: {
                    innerSize: 60,
                    depth: 30,
                    showInLegend: true

                },
                series: {
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return Math.round(this.percentage * 100) / 100 + ' %';
                        },
                        distance: -30,
                        color: '#ffffff',
                        padding: 0,
                        style: {
                            "fontSize": "10px",
                            "textShadow": "0 0 0, 0 0 0",
                            "fontWeight": "normal"
                        }
                    }
                }
            },
            tooltip: {
                valueSuffix: '人'
            },
            series: [{
                name: ' ',
                data: [
                    ['30岁及以下', 1000],
                    ['31-40岁', 975],
                    ['41-50岁', 1119],
                    ['50岁以上', 103]
                ]
            }],
            credits: {
                enabled: false
            }
        });

        /*
         END 年龄构成图表
         */

        /*
         BEGIN 学历构成图表
         */
        $('#jnbankstyle_leaderQuery_academic').highcharts({
            chart: {
                type: 'pie',
                backgroundColor: '#ffffff',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            colors: [
                '#990099',
                '#3366cc',
                '#ca2222',
                '#109618',
                '#f8a20f'
            ],
            legend: {
                itemStyle: {
                    fontWeight: 'normal',
                    fontSize: "12px"
                },
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0,
                labelFormatter: function () {
                    return this.name + ' ' + this.y + '人&nbsp';
                },
                useHTML: true,
                margin: 0,
                padding: 4,
                symbolHeight: 10,
                symbolWidth: 4
            },
            title: {
                align: 'left',
                style: {
                    color: "#a97334",
                    fontWeight: 'bold',
                    fontSize: "16px",
                    fontFamily: 'Microsoft Yahei'
                },
                text: '学历构成'
            },
            plotOptions: {
                pie: {
                    innerSize: 60,
                    depth: 30,
                    showInLegend: true
                },
                series: {
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return Math.round(this.percentage * 100) / 100 + ' %';
                        },
                        distance: -30,
                        color: '#ffffff',
                        padding: 0,
                        style: {
                            "fontSize": "10px",
                            "textShadow": "0 0 0, 0 0 0",
                            "fontWeight": "normal"
                        }
                    }
                }
            },
            series: [{
                name: ' ',
                data: [
                    ['博士研究生', 726],
                    ['硕士研究生', 150],
                    ['本科', 1200],
                    ['大专', 698],
                    ['中专及以下', 345]
                ]
            }],
            credits: {
                enabled: false
            }
        });
        /*
         END 学历构成图表
         */

        /*
         BEGIN 职称结构图表
         */
        $('#jnbankstyle_leaderQuery_professional').highcharts({
            chart: {
                renderTo: 'container',
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 50,
                    viewDistance: 25
                }
            },
            title: {
                align: 'left',
                style: {
                    color: "#a97334",
                    fontWeight: 'bold',
                    fontSize: "16px",
                    fontFamily: 'Microsoft Yahei'
                },
                text: '职称结构'
            },
            xAxis: {
                categories: ["高级<br>726", '中级<br>150', '初级<br>1200', '员工级<br>698', '无职称<br>345'],
                title: {
                    text: null
                },
                labels: {
                    align: "center",
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Microsoft Yahei'
                    },
                    y: 28
                }
            },
            yAxis: {
                min: 0,
                title: {
                    enabled: false

                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    },
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Microsoft Yahei'
                    }
                }
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
            tooltip: {
                valueSuffix: '%'
            },

            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: ' ',
                data: [
                    ['高级', 1],
                    ['中级', 18],
                    ['初级', 30],
                    ['员工级', 5],
                    ['无职称', 46]
                ]
            }]
        });

        /*
         END 职称结构图表
         */
    });
</script>
</body>
</html>