<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>首页</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/jnbankcustomstyle.css">

</head>
<body>
<div class="jnbankstyle_homepage_container">
    <div class="jnbankstyle_homepage_top">&nbsp;</div>
    <div class="jnbankstyle_homepage_main">
        <div class="jnbankstyle_homepage_logo">
            <img class="jnbankstyle-mt20" src="../images/jnbank_homepage_logo.png" alt=""/>

            <div class="jnbankstyle_homepage_logo_right">
                <span><span class="jnbankstyle-txt-a97334">李想</span>，您好！欢迎登录人力资源管理平台！</span><a href="jnbankLogin.html"
                                                                                               class="jnbankstyle_homepage_tuichu"><span
                    class="jnbankstyle-txt-a97334">退出</span></a>
            </div>
        </div>
        <div class="jnbankstyle_homepage_wrapper jnbankstyle-clearfix">
            <div class="jnbankstyle_homepage_left">
                <ul>
                    <li class="jnbankstyle_active"><a href="jnbankhomepage.html"><img class="icon"
                                                                                      src="../images/jnbank_homepage_icon/icon_01.png">首页</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_02.png">机构管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_03.png">岗位管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_04.png">人员管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_05.png">合同管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_06.png">考评管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_07.png">薪资管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_08.png">报表管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_09.png">培训管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_10.png">考勤管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_11.png">查询管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_12.png">党务管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_13.png">流程管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_14.png">运行管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbank_homepage_icon/icon_15.png">系统管理</a>
                    </li>
                </ul>
            </div>
            <div class="jnbankstyle_homepage_right">
                <div class="jnbankstyle_homepage_right_subwrapper">
                    <ul class="jnbankstyle_homepage_links jnbankstyle-clearfix">
                        <li><a href="javascript:void(0);"><img src="../images/jnbank_homepage_link_yuangongzizhu.png"
                                                               alt=""/></a></li>
                        <li><a href="javascript:void(0);"><img src="../images/jnbank_homepage_link_xiazai.png" alt=""/></a>
                        </li>
                        <li><a href="javascript:void(0);"><img src="../images/jnbank_homepage_link_cahxun.png" alt=""/></a>
                        </li>
                    </ul>
                    <div class="jnbankstyle_homepage_part">
                        <h3 class="jnbankstyle_homepage_title"><img src="../images/jnbank_homepage_diaban.png"
                                                                    alt=""/><a
                                class="jnbankstyle_homepage_more jnbankstyle-txt-a97334" href="#">更多</a>
                        </h3>

                        <div class="jnbankstyle_homepage_subwrapper">
                            <table class="jnbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行荣获“2015年度银行卡跨行交易技术运营水...</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="jnbankstyle_homepage_part">
                        <h3 class="jnbankstyle_homepage_title"><img src="../images/jnbank_homepage_xiaoxi.png"
                                                                    alt=""/><a
                                class="jnbankstyle_homepage_more jnbankstyle-txt-a97334" href="#">更多</a>
                        </h3>

                        <div class="jnbankstyle_homepage_subwrapper">
                            <table class="jnbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行荣获“2015年度银行卡跨行交易技术运营水...</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="jnbankstyle_homepage_part">
                        <h3 class="jnbankstyle_homepage_title"><img src="../images/jnbank_homepage_gonggao.png"
                                                                    alt=""/><a
                                class="jnbankstyle_homepage_more jnbankstyle-txt-a97334" href="#">更多</a>
                        </h3>

                        <div class="jnbankstyle_homepage_subwrapper">
                            <table class="jnbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行荣获“2015年度银行卡跨行交易技术运营水...</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="jnbankstyle_homepage_double_angle_right"
                                             src="../images/jnbank_homepage_biaodian.png"
                                             alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                    </td>
                                    <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jnbankstyle_homepage_footer jnbankstyle-t-center">
        版权所有@江苏江南农村商业银行股份有限公司
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {


        /**
         * BEGIN 首页左侧菜单鼠标悬浮效果
         */

        //左侧菜单图标转换函数
        function leftMenuIconImgChange(obj) {
            var $img = $(obj).find("img");
            var src = $img.attr("src");

            if (src.indexOf('_active') > 0) {
                src = src.replace('_active', '');
            } else {
                var idx = src.lastIndexOf('.');
                src = src.substr(0, idx) + '_active' + src.substr(idx);
            }
            $img.attr("src", src);
        }

        //页面加载的时候，默认高亮当前页所对应的左侧菜单图标
        $(".jnbankstyle_homepage_left>ul>li>a").each(function () {
            if ($(this).parent().hasClass("jnbankstyle_active")) {
                leftMenuIconImgChange(this);
            }
        });

        //悬浮在左侧菜单上时文字和图标高亮
        $(".jnbankstyle_homepage_left>ul>li>a").hover(function () {

            if ($(this).parent().hasClass("jnbankstyle_active")) { // 展开状态，不进行处理
                return;
            }

            leftMenuIconImgChange(this);

        });

        /**
         * END 首页左侧菜单鼠标悬浮效果
         */


        /**
         * BEGIN 首页左侧菜单和右侧内容高度一致
         */

        function heightConsistent(obj1, obj2) {
            var rightHeight = $(obj1).outerHeight();
            setTimeout(function () {
                $(obj2).outerHeight(rightHeight);
            }, 0);
        }

        heightConsistent(".jnbankstyle_homepage_right", ".jnbankstyle_homepage_left");
        $(window).resize(function(){
            heightConsistent(".jnbankstyle_homepage_right", ".jnbankstyle_homepage_left");
        });

        /**
         * END 首页左侧菜单和右侧内容高度一致
         */

    })
</script>
</body>
</html>