<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>员工自助</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/jnbankcustomstyle.css">

</head>
<body class="jnbankstyle_employeeSelfService_body">
<div class="jnbankstyle_employeeSelfService_container">
    <div class="jnbankstyle_employeeSelfService_top">&nbsp;</div>
    <div class="jnbankstyle_employeeSelfService_main">
        <div class="jnbankstyle_employeeSelfService_logo">
            <img class="jnbankstyle-mt20" src="../images/jnbank_homepage_logo.png" alt=""/>

            <div class="jnbankstyle_employeeSelfService_logo_right">
                <span><span class="jnbankstyle-txt-a97334">李想</span>，您好！欢迎登录人力资源管理平台！</span><a href="jnbankLogin.html"
                                                                                               class="jnbankstyle_employeeSelfService_tuichu"><span
                    class="jnbankstyle-txt-a97334">退出</span></a>
            </div>
        </div>
        <div class="jnbankstyle_employeeSelfService_wrapper jnbankstyle-clearfix">
            <div class="jnbankstyle_employeeSelfService_left">
                <ul>
                    <li class="jnbankstyle_has_down_menu"><a href="javascript:void(0);"><img class="icon"
                                                                                             src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_01.png">日常事务办理<span
                            class="angle-icon">&nbsp;</span></a>
                        <ul class="jnbankstyle_employeeSelfService_snd-menu">
                            <li><a href="javascript:void(0);">申请休假</a></li>
                            <li><a href="javascript:void(0);">申请出国</a></li>
                            <li><a href="javascript:void(0);">申请调动</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_02.png">信息查询</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_03.png">薪酬信息</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_04.png">问卷调查</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_05.png">内部招聘</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_06.png">内部学习</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon"
                                                           src="../images/jnbankstyle_employeeSelfService_icon/yuangong_icon_07.png">手册下载</a>
                    </li>
                </ul>
            </div>
            <div class="jnbankstyle_employeeSelfService_right_wrapper">
                <div class="jnbankstyle_employeeSelfService_right">
                    <div class="jnbankstyle_employeeSelfService_right_subwrapper jnbankstyle-clearfix">
                        <div class="jnbankstyle_ess_line">&nbsp;</div>
                        <div class="jnbankstyle_employeeSelfService_part jnbankstyle_employeeSelfService_part_xiaoxi">
                            <h3 class="jnbankstyle_employeeSelfService_title"><img
                                    src="../images/jnbankstyle_employeeSelfService_zuixinxiaoxi.png"
                                    alt=""/><a
                                    class="jnbankstyle_employeeSelfService_more jnbankstyle-txt-a97334"
                                    href="#">更多</a>
                            </h3>

                            <div class="jnbankstyle_employeeSelfService_subwrapper">
                                <table class="jnbankstyle-w100">
                                    <tbody>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行荣获“2015年度银行卡跨行交易</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="jnbankstyle_employeeSelfService_part jnbankstyle_employeeSelfService_part_gonggao">
                            <h3 class="jnbankstyle_employeeSelfService_title"><img
                                    src="../images/jnbankstyle_employeeSelfService_zuixingonggao.png"
                                    alt=""/><a
                                    class="jnbankstyle_employeeSelfService_more jnbankstyle-txt-a97334"
                                    href="#">更多</a>
                            </h3>

                            <div class="jnbankstyle_employeeSelfService_subwrapper">
                                <table class="jnbankstyle-w100">
                                    <tbody>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">新入职员工张明等待您签订入职合同</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行荣获“2015年度银行卡跨行交易</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><img class="jnbankstyle_employeeSelfService_double_angle_right"
                                                 src="../images/jnbank_homepage_biaodian.png"
                                                 alt=""><a href="#">南京银行互联网金融新品“南京e贷”上线运营</a>
                                        </td>
                                        <td class="jnbankstyle-homepage-date">2016-02-18</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="jnbankstyle_employeeSelfService_shortcut_wrapper">
                        <ul class="jnbankstyle_employeeSelfService_shortcut jnbankstyle-clearfix">
                            <li><a href="#">
                                <div class="jnbankstyle_ess_content_wrapper">
                                    <div class="jnbankstyle_ess_content">
                                        <img src="../images/jnbankstyle_employeeSelfService_01.png">
                                        <h5 class="jnbankstyle-employee-title">信息查询</h5>
                                        <p class="jnbankstyle-employee-intro">查看本人的个人信息及个人岗位说明书。</p>
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="jnbankstyle_ess_content_wrapper">
                                    <div class="jnbankstyle_ess_content">
                                        <img src="../images/jnbankstyle_employeeSelfService_02.png">
                                        <h5 class="jnbankstyle-employee-title">日常事务处理</h5>
                                        <p class="jnbankstyle-employee-intro">办理请假出国流程、风险责任金、学历调整、职称调整等日常事务。</p>
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="jnbankstyle_ess_content_wrapper">
                                    <div class="jnbankstyle_ess_content">
                                        <img src="../images/jnbankstyle_employeeSelfService_03.png">
                                        <h5 class="jnbankstyle-employee-title">参与调查与培训</h5>
                                        <p class="jnbankstyle-employee-intro">通过填写问卷发表个人观点，参与在线学习实现自我提升。</p>
                                    </div>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jnbankstyle_employeeSelfService_footer jnbankstyle-t-center">
        版权所有@江苏江南农村商业银行股份有限公司
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {

        /**
         * BEGIN 员工自助页面左侧菜单点击展开二级菜单
         */

        $(".jnbankstyle_employeeSelfService_left .jnbankstyle_has_down_menu>a").click(function () {
            var $parent = $(this).parent();
            $(this).toggleClass("jnbankstyle_on");
            $parent.toggleClass('jnbankstyle_show').toggleClass('jnbankstyle_active');

            var $img = $(this).find("img");
            var src = $img.attr("src");
            var idx = src.lastIndexOf('.');

            if ($parent.hasClass('jnbankstyle_show')) { // 展开， 变成active状态
                if (src.indexOf('_active') < 0) {
                    src = src.substr(0, idx) + '_active' + src.substr(idx);
                    $img.attr("src", src);
                }
            } else {
                var idx2 = src.substr(0, idx).indexOf("_active");
                src = src.substr(0, idx2) + src.substr(idx);
                $img.attr("src", src);
            }

        });

        /**
         * END 员工自助页面左侧菜单点击展开二级菜单
         */


        /**
         * BEGIN 员工自助左侧菜单和右侧内容高度一致
         */

        function heightConsistent(obj1, obj2) {
            var rightHeight = $(obj1).outerHeight();
            setTimeout(function () {
                $(obj2).outerHeight(rightHeight);
            }, 0);
        }
        heightConsistent(".jnbankstyle_employeeSelfService_right_wrapper", ".jnbankstyle_employeeSelfService_left");

        $(window).resize(function(){
            heightConsistent(".jnbankstyle_employeeSelfService_right_wrapper", ".jnbankstyle_employeeSelfService_left");
        });
        /**
         * END 员工自助左侧菜单和右侧内容高度一致
         */

    })
</script>
</body>
</html>