<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>

<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<!--begin about us part-->

<div class="about-us-container">
    <div class="clearfix">
        <div class="nav fleft">
            <div class="menu">
                <ul>
                    <li class="item on">
                        <span class="icon"></span>
                        <a href="javascript:void(0)">关于房问问</a>
                    </li>
                    <li class="join item">
                        <span class="icon"></span>
                        <a href="javascript:void(0)">加入我们</a>
                    <li class="contact item">
                        <span class="icon"></span>
                        <a href="javascript:void(0)">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content fright mt10">
            <div class="content-detail">
                <div class="piece-01 piece in">
                    <h2 class="class-title">关于房问问</h2>

                    <div class="main">
                        <!--<div class="part part-01">-->
                            <!--<p><strong>从 Architect 到 Fangwenwen，</strong></p>-->

                            <!--<p><strong>当你打开第一个测评的时候，我们便已视你为知己，渴望聆听你的倾诉。</strong></p>-->
                        <!--</div>-->
                        <!--<div class="part part-02">-->
                            <!--<p>如果你代表个人： </p>-->

                            <!--<p>反馈鼓励 → hi@fangwenwen.com </p>-->

                            <!--<p>加入我们 → hr@fangwenwen.com </p>-->
                        <!--</div>-->
                        <!--<div class="part part-03">-->
                            <!--<p>如果你代表企业或机构：</p>-->

                            <!--<p>众测及测评 → ce@fangwenwen.com </p>-->

                            <!--<p>媒体报道 → media@fangwenwen.com </p>-->

                            <!--<p>商务合作 → business@fangwenwen.com </p>-->
                        <!--</div>-->
                        <!--<div class="part part-04">-->
                            <!--<p>如果你有房屋问题： </p>-->

                            <!--<p>信息我们 → wen@fangwenwen.com </p>-->

                            <!--<p>我们将第一时间为你解答（请注明您的注册用户名） </p>-->

                            <!--<p>如有需要咨询或者讨论的地方，欢迎加入我们的群，这里有很多资深建筑师、规划师等着您： 470262558 </p>-->
                        <!--</div>-->
                        <div class="part part-05">
                            <p>
                                <img src="../images/about01.jpg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="piece-02 piece">
                    <h2 class="class-title">加入我们</h2>

                    <div class="main">
                        <p class="mt20"><strong>如对以下职位有兴趣，请投递简历至hr@fangwenwen.com</strong></p>

                        <div class="job-wrapper">
                            <p class="job-name">设计师</p>

                            <p class="jpb-describe">职责描述：</p>

                            <p>1.成为fangwenwen市场团队的一员，为fangwenwen的各种市场活动、海报、发布会、包装等进行创意设计；</p>

                            <p>2.成为fangwenwen设计团队的一员，参与各种移动端、互联网的产品设计；</p>

                            <p class="job-demand">岗位要求：</p>

                            <p>1.在fangwenwen，学历专业不重要，但是你要有兴趣和热情；</p>

                            <p>2.工作经验不是必须，但你要聪明并渴望学习；</p>

                            <p>3.我们希望你能注重细节，心思敏感而细腻；</p>

                            <p>4.更重要的是，你要融入在团队中，发挥团队最大的价值；</p>
                        </div>
                        <div class="job-wrapper">
                            <p class="job-name">视觉设计师</p>

                            <p class="jpb-describe">职责描述：</p>

                            <p>1.负责fangwenwen移动端产品UI的视觉创意和风格设计；

                            <p>2.与产品经理配合，积极寻求更好的产品界面视觉方案；

                            <p>3.与开发人员合作，根据产品需求，提交开发所需的UI交互设计细节；

                            <p class="job-demand">岗位要求：</p>

                            <p>1.设计相关专业，2年以上工作经验；</p>

                            <p>2.对设计流行趋势的洞察力，对视觉和交互的独到见解，注重细节的处理；</p>

                            <p>3.熟悉移动客户端的相关设计规范及实现，能够快速把握用户操作流程及用户需求；</p>

                            <p>4.精通使用Photoshop、Illustrator等常用设计软件；</p>

                            <p>5.良好的沟通能力与团队意识，有激情，创造力和责任感，能够适应快节奏的工作模式；</p>

                            <p>6.有完整的APP界面、网页界面、ICON整套案例的优先；</p>
                        </div>
                        <div class="job-wrapper">
                            <p class="job-name">产品经理 </p>

                            <p class="jpb-describe">职责描述：</p>

                            <p>1.深入了解房产、居家领域，挖掘及开发目标用户的痛点及需求点；</p>

                            <p>2.与开发、设计团队保持良好沟通，明确各部门对产品的理解； </p>

                            <p>3.负责产品的界面、功能、设计等流程，确保项目的顺利运行； </p>

                            <p>4.分析产品运营数据，并做出相应的应对策略； </p>

                            <p>5.负责产品的迭代更新； </p>

                            <p class="job-demand">岗位要求： </p>

                            <p>1.本科以上学历，3年以上线上产品经验； </p>

                            <p>2.对互联网行业有深入了解，对产品的逻辑链条非常明确；</p>

                            <p>3.如果你够niubility，以上条件均可忽略； </p>

                            <p>4.如果你也同时喜欢科技喜欢房产，那就再好不过了； </p>

                            <p>5.简历请最好附带作品链接； </p>
                        </div>
                        <div class="job-wrapper">
                            <p class="job-name">电商运营经理</p>

                            <p class="jpb-describe"> 职责描述：</p>

                            <p>1.根据公司市场发展目标及战略，参与公司重大业务决策的制定与执行； </p>

                            <p>2.制定电商部门运营方向、发展战略，提升电商平台销售额； </p>

                            <p>3.负责电商市场渠道的规划、拓展，运用多种渠道的组合扩大公司电商平台的影响力；</p>

                            <p>
                                4.组织策划并审定产品、品牌、市场推广、媒体运营、市场研究等活动的策略、推广方案、相关预算，调动相关资源推动方案的实施并监督实施效果，提高网站与企业的知名度；</p>

                            <p>5.维护与开拓媒体、合作伙伴及相关企业间的积极交流与良好合作； </p>

                            <p>6.电商团队的管理、发展和培养； </p>

                            <p class="job-demand">岗位要求：</p>

                            <p>1.5年左右工作经验，2年以上互联网行业工作经验； </p>

                            <p>2.熟悉各大电商平台操作规则，有过出色的销售业绩者优先；</p>

                            <p>3.熟悉房产行业，并对该行业有强烈的兴趣； </p>

                            <p>4.拥有官方电商平台运营管理经验优先； </p>

                            <p>5.情商高，具备优秀的沟通协调能力； </p>
                        </div>
                        <div class="job-wrapper">
                            <p class="job-name">资深编辑</p>

                            <p class="jpb-describe">职责描述：</p>

                            <p> 1.熟悉家居产品、家用设备，顺便写个观点，吐槽赞美皆可；如果能一叶知秋，上升到对领域或行业的思考尤佳；

                            <p> 2.结合时事热点、策划专题，真诚地去表达一种你所赞赏的生活态度和方式；

                            <p> 3.与测评室合作，创作风格化、趣味化的测评文本；

                            <p> 4.主导测评视频制作；

                            <p> 5.负责网站内容的更新及维护；

                            <p> 6.其他交办的事项；

                            <p class="job-demand">岗位要求：</p>

                            <p> 1.3年以上房产或家居领域工作经验； </p>

                            <p> 2.文笔优秀、策划能力突出，有编导、编剧经验可加分； </p>

                            <p> 3.对视觉设计有认知，不要求软件操作能力，但对审美潮流及相关作品有概念； </p>

                            <p> 4.在文化、艺术、创意、时尚、数码等某一领域有较为深入的体验和观点； </p>

                            <p> 5.注重团队合作，崇尚坦诚沟通；</p>

                            <p> 6.性别、年龄不限； </p>
                        </div>
                        <div class="job-wrapper">
                            <p class="job-name">编辑</p>

                            <p class="jpb-describe">职责描述：</p>

                            <p>1.熟悉家居产品、家用设备，顺便写个观点，吐槽赞美皆可；如果能一叶知秋，上升到对领域或行业的思考尤佳；

                            <p>2.参与专题策划，真诚地去表达一种你所赞赏的生活态度和方式；

                            <p>3.与测评室合作，创作风格化．趣味化的测评文本；

                            <p>4.参与测评视频制作，并跟进视频制作流程；

                            <p>5.负责网站内容的更新及维护；

                            <p class="job-demand">岗位要求：</p>

                            <p>1.对房产、居家领域充满强烈兴趣，有探索欲望；</p>

                            <p>2.文笔优秀，有创意精神，自媒体达人及网络意见分子可加分；</p>

                            <p>3.对视觉设计有认知，不要求软件操作能力，但对审美潮流及相关作品有概念；</p>

                            <p>4.生活里的玩家、专业上的偏执狂，对某个领域有独到的了解和见解；</p>

                            <p>5.注重团队合作，崇尚坦诚沟通；</p>

                            <p>6.性别．年龄不限；</p>
                        </div>
                    </div>
                </div>
                <div class="piece-03 piece">
                    <h2 class="class-title">联系我们</h2>

                    <div class="main">
                        <div class="part part-01">
                            <p><strong>从 Architect 到 Fangwenwen，</strong></p>

                            <p><strong>当你打开第一个测评的时候，我们便已视你为知己，渴望聆听你的倾诉。</strong></p>
                        </div>
                        <div class="part part-02">
                            <p>如果你代表个人： </p>

                            <p>反馈鼓励 → hi@fangwenwen.com </p>

                            <p>加入我们 → hr@fangwenwen.com </p>
                        </div>
                        <div class="part part-03">
                            <p>如果你代表企业或机构：</p>

                            <p>众测及测评 → ce@fangwenwen.com </p>

                            <p>媒体报道 → media@fangwenwen.com </p>

                            <p>商务合作 → business@fangwenwen.com </p>
                        </div>
                        <div class="part part-04">
                            <p>如果你有房屋问题： </p>

                            <p>信息我们 → wen@fangwenwen.com </p>

                            <p>我们将第一时间为你解答（请注明您的注册用户名） </p>

                            <p>如有需要咨询或者讨论的地方，欢迎加入我们的群，这里有很多资深建筑师、规划师等着您： 470262558 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end about us part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>

<!-- #endregion Jssor Slider End -->

</body>
</html>