<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>

<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->

<div class="personal-info-modify">
    <div class="main_content clearfix">
        <div class="content_left">
            <div class="left_logo">
            </div>
            <div class="user_pic">
                <a href="javascript:;" rel="nofollow" target="_blank">
                    <img src="../images/mb_pic50.gif" class="pic_size" alt="会员头像">
                </a>
                <a href="javascript:;" class="user_cover">更换头像</a>
            </div>
            <div style="display:none" class="repic_mask">
                <div class="mask_bg">

                </div>
            </div>

            <dl class="left_list">
                <dd>
                    <a href="basicInfo.html" otype="setbasic" class="sidebar_active"><span
                            class="left"> </span>基本设置<span class="right"> </span></a>
                    <a href="bindemailtel.html" otype="setmail"><span class="left"> </span>手机和邮箱<span
                            class="right"> </span></a>
                    <a href="modifyPasswd.html" otype="setpsd"><span class="left"> </span>修改密码<span
                            class="right"> </span></a>
                    <!--<a href="/user?pagetype=setaccount" otype="setaccount"><span class="left"> </span>第三方账号<span-->
                    <!--class="right"> </span></a>-->
                </dd>
            </dl>
        </div>
        <div style="display:none" class="input_content">
        </div>


        <div class="content_right">
            <h2>
                基本信息
            </h2>
            <table class="user_basic">
                <tbody>
                <tr>
                    <td> 昵称</td>
                    <td><input name="nickname" maxlength="20" class="input_nickname" value="☆~冰落~☆"></td>
                </tr>
                <tr>
                    <td width="60px"> 性别</td>
                    <td>
                        <label class="radio inline"><input type="radio" value="m" name="gender" checked="">
                            &nbsp;男</label>&nbsp;&nbsp;
                        <label class="radio inline"><input type="radio" value="f" name="gender"> &nbsp;女</label>
                    </td>
                </tr>
                <tr>
                    <td> 居住地</td>
                    <td>
                        <div class="global_address global_select">
                            <dl>
                                <dd class="selMain fItem1">
                                    <div class="addrClick">
                                        <p class="provice" rel="0">省份</p>
                                        <a href="javascript:;" class="btn"></a>
                                    </div>
                                    <ul class="srhList region-province">
                                        <!--<li rel="11">北京</li>-->
                                        <!--<li rel="12">天津</li>-->
                                        <!--<li rel="13">河北</li>-->
                                        <!--<li rel="14">山西</li>-->
                                        <!--<li rel="15">内蒙古</li>-->
                                        <!--<li rel="21">辽宁</li>-->
                                        <!--<li rel="22">吉林</li>-->
                                        <!--<li rel="23">黑龙江</li>-->
                                        <!--<li rel="31">上海</li>-->
                                        <!--<li rel="32">江苏</li>-->
                                        <!--<li rel="33">浙江</li>-->
                                        <!--<li rel="34">安徽</li>-->
                                        <!--<li rel="35">福建</li>-->
                                        <!--<li rel="36">江西</li>-->
                                        <!--<li rel="37">山东</li>-->
                                        <!--<li rel="41">河南</li>-->
                                        <!--<li rel="42">湖北</li>-->
                                        <!--<li rel="43">湖南</li>-->
                                        <!--<li rel="44">广东</li>-->
                                        <!--<li rel="45">广西</li>-->
                                        <!--<li rel="46">海南</li>-->
                                        <!--<li rel="50">重庆</li>-->
                                        <!--<li rel="51">四川</li>-->
                                        <!--<li rel="52">贵州</li>-->
                                        <!--<li rel="53">云南</li>-->
                                        <!--<li rel="54">西藏</li>-->
                                        <!--<li rel="61">陕西</li>-->
                                        <!--<li rel="62">甘肃</li>-->
                                        <!--<li rel="63">青海</li>-->
                                        <!--<li rel="64">宁夏</li>-->
                                        <!--<li rel="65">新疆</li>-->
                                        <!--<li rel="71">台湾</li>-->
                                        <!--<li rel="81">香港</li>-->
                                        <!--<li rel="82">澳门</li>-->
                                        <!--<li rel="100">其他</li>-->
                                        <!--<li rel="400">海外</li>-->
                                    </ul>
                                </dd>
                                <dd class="selMain fItem2">
                                    <div class="addrClick">
                                        <p class="city" rel="0">城市/地区</p>
                                        <a href="javascript:;" class="btn"></a>
                                    </div>
                                    <ul class="srhList region-city" id="city">
                                        <!--<li rel="1">和平区</li>-->
                                        <!--<li rel="2">河东区</li>-->
                                        <!--<li rel="3">河西区</li>-->
                                        <!--<li rel="4">南开区</li>-->
                                        <!--<li rel="5">河北区</li>-->
                                        <!--<li rel="6">红桥区</li>-->
                                        <!--<li rel="7">塘沽区</li>-->
                                        <!--<li rel="8">汉沽区</li>-->
                                        <!--<li rel="9">大港区</li>-->
                                        <!--<li rel="10">东丽区</li>-->
                                        <!--<li rel="11">西青区</li>-->
                                        <!--<li rel="12">津南区</li>-->
                                        <!--<li rel="13">北辰区</li>-->
                                        <!--<li rel="14">武清区</li>-->
                                        <!--<li rel="15">宝坻区</li>-->
                                        <!--<li rel="21">宁河县</li>-->
                                        <!--<li rel="23">静海县</li>-->
                                        <!--<li rel="25">蓟县</li>-->
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> 生日</td>
                    <td>
                        <input name="userBirthday" class="input_birthday" value="">
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" value="28b7300620915fb26bd9bc1bdab5b2cd96a3be02" name="YII_CSRF_TOKEN">
            <div class="save_btn">保存</div>
        </div>
    </div>
</div>
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>