<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>评测浏览</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/formData.css">
</head>
<body>
<div class="main-page">
    <div id="main">
        <div id="content">
            <div class="page-name">
                <div class="subpage-name clearfix">
                    <h1 class="page-title fleft"><i class="page-icon fa-home"></i> 评测文章预览</h1>
                    <div class="page-title fright">
                        <a href="detailCreate.html" class="btn btn-default pull-right f-14">返回</a>
                    </div>
                </div>
            </div>
            <div class="widget-grid">
                <div class="header">
                    <span class="widget-icon"></span>
                </div>
                <div class="widget-body">
                    <div class="smart-form tbt-agreenment">
                        <div class="fieldset">
                            <div class="row t-center tbt-agreement-title">
                                <h3 class="t-left f-16 f-w">银行不再承诺刚性兑付 你还敢买理财产品吗？</h3>
                                <br>
                            </div>
                            <div class="row tbt-agreement-content">
                                <p class="mt10"><span class="f-w">作者：</span><span>王阳明</span></p>
                                <p class="mt10"><span class="f-w">文章类型：</span><span>公益找房</span></p>
                                <p class="mt10"><span class="f-w">发布时间：</span><span>2016-05-05 13:46</span></p>
                                <p class="mt10 f-w">摘要：</p>
                                <p>
                                    北京通宝图网络科技有限公司（简称“通宝图”）运营的网站(www.tongbaotu.com)及相应的金融理财产品互联网系统是金融理财产品服务平台（以下简称“平台”）。通宝图依据本协议为平台注册用户提供服务，本协议构成通宝图与注册用户之间具有法律效力的合同。用户应首先仔细阅读本协议的全部内容，并特别留意其中涉及用户权利限制、通宝图责任免除/限制、风险提示的条款，在充分理解的基础上审慎地选择同意或不同意本协议。用户在同意本协议之后才可在平台上完成注册或使用平台的有关服务，用户如不同意本协议则应停止注册并停止使用平台的任何服务。</p>
                                <p class="mt10 f-w">内容：</p>

                              <div class="pingce-content">
                                  <p>
                                      北京通宝图网络科技有限公司（简称“通宝图”）运营的网站(www.tongbaotu.com)及相应的金融理财产品互联网系统是金融理财产品服务平台（以下简称“平台”）。通宝图依据本协议为平台注册用户提供服务，本协议构成通宝图与注册用户之间具有法律效力的合同。用户应首先仔细阅读本协议的全部内容，并特别留意其中涉及用户权利限制、通宝图责任免除/限制、风险提示的条款，在充分理解的基础上审慎地选择同意或不同意本协议。用户在同意本协议之后才可在平台上完成注册或使用平台的有关服务，用户如不同意本协议则应停止注册并停止使用平台的任何服务。</p>
                                  <h5><span class="mr5">1.</span>用户资格与用户信息</h5>

                                  <p>
                                      <span class="mr5">1.1</span>平台的注册用户分为如下四类：F类（发行人）为受到中华人民共和国大陆地区（下称“中国”）金融监管机构监管的金融机构，包括银行、信托公司、证券公司、基金管理公司等；B类（代销行）为受到中国金融监管机构监管的银行类金融机构，包括城市商业银行、农村商业银行、农村信用社等；C类为投资者，包括机构投资者和个人投资者；T类为巨额投资者，包括专业投资机构、具有自主投资能力的大型企业等。注册用户如为机构则必须是依法具有合同订立资格并具有相应的民事权利能力和民事行为能力的法人或其他组织；如为个人则必须是年满18周岁并且依照中国法律具有完全民事行为能力、能够独立承担民事责任的自然人。用户保证其在注册时、订立及履行本协议期间始终符合上述要求。
                                  </p>

                                  <p>
                                      <span class="mr5">1.2</span>平台的F类、B类、T类用户应与通宝图在线下完成身份认证，签订书面的合作协议之后方可成为平台注册用户并使用平台的有关服务，平台为上述用户开通平台账户ID和初始密码，用户的相关人员须自行重新设置密码后才可使用账户ID，此后每个账户ID在平台上的操作均代表该用户。C类用户只需在平台的网站或系统客户端完成注册即可。
                                  </p>

                                  <p>
                                      <span class="mr5">1.3</span>注册用户应按平台的要求及时提供其真实、完整、有效及最新的身份信息和其他资料信息，并在信息发生变化时及时更新。否则，由用户自行承担信息瑕疵引起的不利后果和责任，且通宝图在其合理判断范围内有权酌情暂停或终止提供全部或部分服务。

                                  </p>

                                  <p><span class="mr5">1.4</span>通宝图保证在平台上提供的F类、B类和T类用户基本身份信息的真实性和有效性。C类用户基本身份信息的真实性和有效性由B类用户依照法律法规和监管政策要求及本协议的规定进行核查认证。
                                  </p>

                                  <p>
                                      <span class="mr5">1.5</span>银行类金融机构可依其选择同时具备F类用户和B类用户的属性与功能，同时承担该两类用户相应的义务与责任。F类、B类和T类用户可依其选择同时还具备C类或/及T类用户的属性与功能，并在使用相关服务时同时承担相应类别用户的义务与责任。
                                  </p>

                                  <p>
                                      <span class="mr5">1.6</span>通宝图将依照法律法规规定和行业惯例对注册用户提交的非公开资料信息保密，不接受通宝图及注册用户自身或其授权代理人之外的任何个人或单位的查询请求；但双方另有约定、依法律法规的规定或有权查询机关/监管机构的要求需要披露或者通宝图为执行本协议确有必要披露的情况除外。
                                  </p>

                                  <h5><span class="mr5">2.</span>平台（简易版）服务内容</h5>

                                  <p><span class="mr5">2.1</span>平台服务内容主要包括产品信息发布与查询服务、订单信息服务、交易管理与信息查询服务、提供客户服务等，具体详情及服务条件和执行要求以平台当时提供的服务内容和要求为准。部分服务内容需要用户配合完成手机短信验证、风险承受能力评估、完成银行柜台身份认证等，否则用户将无法使用相关服务。
                                  </p>

                                  <p>
                                      <span class="mr5">2.2</span>在平台上发布的产品均由发行人（F类用户）直接面向B类、C类及/或T类用户提供，产品信息内容的合法合规性和可靠性由发行人提供保证。通宝图保证在平台上发布的金融理财产品初始信息和产品发行人公告消息确属F类用户真实发布的信息，而不就产品风险或其他方面提供保证或承担责任。
                                  </p>

                                  <p>
                                      <span class="mr5">2.3</span>用户之间发生的纠纷（包括但不限于发行人与代销行之间的代销协议纠纷、发行人与用户之间的产品合约纠纷等），由纠纷各方自行解决，通宝图将依照其公开发布的相关规则在预定范围内提供调解/和解的磋商协调服务，但不承担纠纷解决责任。
                                  </p>

                                  <p>

                                  </p><h5><span class="mr5">★★3.</span>责任限制、风险与重要事项提示</h5>

                                  <p><span class="mr5">3.1</span>平台上发布的理财产品的信息由产品发行人（金融机构）提供，C类用户应通过B类用户中的代销行进行购买；发行人负责及时更新产品信息，C类用户或T类用户对产品有疑问时应向发行人或代销行提出咨询，通宝图、平台不负责对产品或产品合约、风险揭示书做出解释。
                                  </p>

                                  <p>
                                      <span class="mr5">3.2</span>平台的C类用户预订/购买产品后，应到代销行（B类用户）的营业网点柜台办理签约及付款手续，由代销行协助投资者将理财本金付给发行人，在产品分红或清算时由代销行协助发行人将发行人支付的款项付至C类用户在代销行开立的银行结算账户。T类用户需与发行人直接签约并自行将理财本金付给发行人、从发行人处获得分红或清算款项。上述资金结算流程全部在用户、代销行（T类用户不涉及代销行）和发行人开户银行之间进行，通宝图并不经手资金，对于客户资金在上述操作过程中发生错误而造成的损失，由相关银行、代销行、发行人负责，通宝图不承担责任，但可在合理可行范围内协助查证。
                                  </p>

                                  <p>
                                      <span class="mr5">3.3</span>通宝图、平台或其他当事人就平台上发布的产品或服务提供的评论或推介均仅供参考，而不构成通宝图、平台的承诺、保证或担保。用户应当依其独立自主的判断做出相关决策、在平台上进行操作、在线下办理相关手续，并自行承担相关的风险、后果与责任。
                                  </p>

                                  <p>
                                      <span class="mr5">3.4</span>在平台上发布的理财产品有投资风险，C类和T类用户作为投资方应当充分认识投资风险，详细阅读产品合约和风险揭示书中的风险描述和风险提示等内容，在充分了解并清楚知晓产品蕴含风险的基础上，根据自身的风险承受能力谨慎投资，通过自身判断自主参与交易，并自愿承担相关风险。
                                  </p>

                                  <p>
                                      <span class="mr5">3.5</span>在任何情况下，通宝图及其股东、雇员、董监事、顾问、平台均不以任何明示或默示的方式对C类用户、T类用户作为投资方通过通宝图或平台进行的理财产品投资而产生的任何形式的直接或间接损失承担法律责任，包括但不限于收益目标未实现、理财本金损失、利润损失、营业中断损失等。
                                  </p>

                                  <p>
                                      <span class="mr5">3.6</span>在平台进行预约订购交易是电子的合同签订交易过程，注册用户使用系统账号登陆后的操作及通过点击确认、提交等方式做出的意思表示具有民事法律行为的效力，用户不得否认其作为合同行为对用户的法律约束力。各方如对有关操作的内容有疑问或争议，应以通宝图系统内自动留存的电子记录为准。用户应妥善保管注册的用户名、账户ID、密码、注册用手机、电子邮箱及其他敏感信息，所有使用密码、该手机号码短信验证码或使用该手机号码登录通宝图客户端而发生的操作均视为由用户亲自做出并由用户承担责任；因用户保管、设置、使用不当等造成的损失和责任由用户自行承担。
                                  </p>

                                  <p>
                                      <span class="mr5">3.7</span>平台上的内容可能涉及或链接到由第三方所有、控制或者运营的其他网站或资源，平台对上述网站或资源是否可用及其信息的真实性、有效性等不提供保证，用户应自行判断并承担相关的风险。
                                  </p>

                                  <p>
                                      <span class="mr5">3.8</span>通宝图将按行业标准和惯例确保平台服务的安全性；同时，基于互联网、移动通讯的特殊性，通宝图无法保证平台服务的绝对安全及始终连续。由于系统维护、电力中断、通信线路/信号故障、软硬件故障、黑客攻击或其他不可抗力的影响，而导致服务中断、产生损失或通宝图未能完全适当地履行相应义务时，通宝图将在合理可行范围内尽力修复，但通宝图不承担任何责任。
                                  </p>

                                  <p>
                                      <span class="mr5">3.9</span>平台上已经存在及未来发布的各类规则构成本协议不可分割的组成部分，有关规则会在用户进行相关操作前提供给用户浏览或提示用户查看，用户如不接受应停止进行相关操作，否则视为接受。通宝图可根据业务发展需要对本协议进行修改，修改的内容或修改后的协议将在平台上发布而不再向用户作个别通知。如用户不同意该修改，用户有权停止使用平台服务（之前已发生的业务仍将继续履行直至执行结束）；如用户在修改发布后继续使用平台服务或者在平台上点击确认同意，则视为用户接受该修改，用户应按修改后的内容执行。
                                  </p>

                                  <p>
                                      <span class="mr5">3.10</span>用户不得将其在本协议下的任何权利、义务转让给其他方。</p>

                                  <p>
                                      <span class="mr5">3.11</span>通过通宝图平台进行的理财产品投资不提供纸质账单，用户需通过客户端、平台网站或发行人客服等方式了解相关信息。平台对用户的通知及信息告知可通过网站公告、客户端公告或系统消息、手机短信、电子邮件等网络或电子方式进行，一经发出即视为送达。
                                  </p>

                                  <p>
                                  </p><h5><span class="mr5">4.</span>费用</h5>

                                  <p>
                                      <span class="mr5">4.1</span>下载和使用通宝图客户端不收取任何费用，由于上网而产生的流量费用、通信费用等由相关运营商收取。C类、T类用户在平台上预约订购产品，通宝图不向上述用户收取费用。F类、B类用户与通宝图三方之间因合作而产生的服务费用、代销费用，由各方另行约定。
                                  </p>

                                  <p>
                                      <span class="mr5">4.2</span>各类用户通过通宝图平台进行的投资、销售等交易如涉及所得税或相关税费，请依法自行申报及缴纳。
                                  </p>

                                  <p>
                                  </p><h5><span class="mr5">5.</span>其他约定</h5>

                                  <p>
                                      <span class="mr5">5.1</span>用户不得利用平台从事洗钱、传销、欺诈或其他任何违法违规活动或违反公共秩序、善良风俗的活动，不得恶意损害通宝图、平台或其他用户的合法权益和声誉。通宝图有权基于其自身的合理判断，在认为可能发生危害交易安全或涉嫌违法违规等情形时，不经通知而先行暂停、中断或终止向用户提供全部或部分服务而无需承担责任；但此情形并不减免用户在本协议下的义务和责任，用户违法违规或违约行为的不利后果和责任由用户自行承担。
                                  </p>

                                  <p>
                                      <span class="mr5">5.2</span>通宝图平台包含的所有内容，包括但不限于文本、图片、音频、视频、数据、设计、源代码及其他全部信息（但不包括其中已由有关当事人在先合法取得知识产权的内容）均属通宝图所有，其知识产权均完全归通宝图享有；未经通宝图许可，任何个人或组织不得使用、复制、反向编译或以其他方式利用或再造。用户应对其在使用平台服务或履行本协议的过程中知悉的属于通宝图或平台的商业秘密和未公开信息保密。
                                  </p>

                                  <p>
                                      <span class="mr5">5.3</span>任何一方未能完全适当地履行本协议的，应依法承担违约责任。一方违约时另一方未行使相应的救济权利不应被视为是放弃权利或者是对违约的许可。
                                  </p>

                                  <p>
                                      <span class="mr5">5.4</span>本协议各条款的标题仅为方便查阅而设，不属于协议内容也不用于条款解释。本协议的任何条款或内容被依法撤销或被认定为无效时，其它条款和内容的效力不受影响，仍为有效。
                                  </p>

                                  <p>
                                      <span class="mr5">5.5</span>本协议适用中华人民共和国的法律并依其解释。凡因本协议引起的或与本协议有关的任何争议，均应提交中国国际经济贸易仲裁委员会，按照申请仲裁时该会现行有效的网上仲裁规则在北京进行仲裁。仲裁裁决是终局的，对双方均有约束力。
                                  </p>

                                  <p>
                                      <span class="mr5">5.6</span>本协议的签订地为通宝图住所地（北京市海淀区）。本协议经用户在平台以线上勾选或点击确认的方式同意后成立并生效。
                                  </p>

                              </div>
                            </div>

                        </div>
                        <!--<div class="footer">-->
                        <!--<button type="submit" class="btn btn-primary">-->
                        <!--保存-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>