<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <style type="text/css">


        body {
            background-color: #fafcff;
        }


    </style>
</head>
<body>
<div class="sign-login-wrap">
    <div class="header-logo">
        <div class="header-box">
        </div>
        <a href="index.html" class="header-logo">
            <img src="../images/singuplogo.png" class="logo">
        </a>
    </div>
    <div class="forgot-content">
        <h2>找回密码</h2>

        <div class="content_info">
            <div class="forgot_info">
<span class="page_select go_mobile"><em class="select_box active"></em>通过手机短信验证身份<span>
</span></span></div>
            <div class="forgot_info">
<span class="page_select go_email"><em class="select_box"></em>通过邮箱验证身份<span>
</span></span></div>
            <button class="black step_one_btn" data-num="0"> 下一步</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>


<!-- #endregion Jssor Slider End -->

</body>
</html>