<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <style type="text/css">

        body {
            background-color: #fafcff;
        }

        
    </style>
</head>
<body>

<div class="sign-login-wrap">
    <div class="header-logo">
        <div class="header-box">
        </div>
        <a href="index.html" class="header-logo">
            <img src="../images/singuplogo.png" class="logo">
        </a>
    </div>
    <div class="forgot-content">
        <h2>找回密码</h2>
        <div class="content-info">
            <div class="info-space">
                <input type="text" class="text forgot_judge active" placeholder="请输入您的注册邮箱" name="email">
                <span class="info-error" style="display: inline-block;">请输入邮箱</span>
                <span class="info-success" style="display: inline-block;"></span>
            </div>
            <div class="info-space clearfix">
                <input type="text" class="text verification" style="float:left" placeholder="验证码(必填)" name="verification">
                <img class="verify" src="http://www.zealer.com/login/viewCode?a=2" data-num="2" id="img_code">
            </div>
            <div class="info-space">
                <a href="/forgot">&lt;上一步</a> <button class="black next step_four_btn  ">下一步</button>
            </div>
        </div>
    </div>
</div>

<!--<script src="http://static.zealer.com/js/jquery-1.10.2.min.js"></script>-->
<!--<script src="http://static.zealer.com/page/js/libs_70e81.js"></script>-->
<!--<script src="http://static.zealer.com/page/js/page_d0bd9f529c.js"></script>-->
<!--<script>-->
<!--$(function(){-->

<!--Z.use('login/reg',{'redirect':'http%3A%2F%2Fwww.zealer.com%2F', 'YII_CSRF_TOKEN': '78a4f361a070037b444a4c814e5342b40cc9a4ce'});Z.use('login/page',{});-->
<!--});-->
<!--</script>-->
<!--end sign up part-->

<!--begin footer part-->
<!--<div class="footer">-->
<!--<div class="inner clearfix">-->
<!--<div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;-->
<!--蜀ICP备15024827号-->
<!--</div>-->
<!--<div class="inner_follow fright">-->
<!--<a class="follow_wx" href="javascript:void(0);">-->
<!--<img src="../images/weixin.png" class="qr_code">-->
<!--</a>-->
<!--<a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<!--<div class="side_btn">-->
<!--<i class="fa fa-angle-up"></i>-->
<!--</div>-->
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>