<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <style type="text/css">

        body {
            background-color: #fafcff;
        }

        
    </style>
</head>
<body>

<div class="sign-login-wrap">
    <div class="header-logo">
        <div class="header-box">
        </div>
        <a href="index.html" class="header-logo">
            <img src="../images/singuplogo.png" class="logo">
        </a>
    </div>
    <div class="forgot-content">
        <h2>找回密码</h2>
        <div class="content-info">
            <div class="info-space">
                <input type="password" class="text reg_judge active" placeholder="设置密码(密码格式应为英文、数字，6-20位字符格式)"
                       name="password">
                <span class="info-error" style="display: inline-block;">请输入密码</span>
                <span class="info-success" style="display: none;"> </span>
            </div>
            <div class="info-space">
                <input type="password" class="text reg_judge active" placeholder="确认密码" name="repwd">
                <span class="info-error" style="display: inline-block;">请输入确认密码</span>
                <span class="info-success" style="display: none;"> </span>
            </div>
            <button class="black reg_btn"> 确认</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>


</body>
</html>