<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<div class="content-wrapper">
    <div class="ribbon">
        <!-- breadcrumb -->
        <ul class="breadcrumb clearfix">
            <li><a href="#">首页</a></li>
            <li><span class="arrow ml5 mr5">&gt;</span></li>
            <li><a href="index.html#fangwenjia">房问＋</a></li>
            <li><span class="arrow ml5 mr5">&gt;</span></li>
            <li><a href="javascript:void(0);">公益找房</a></li>
        </ul>
        <!-- end breadcrumb -->
    </div>
    <h2 class="page-title">公益找房</h2>

    <div class="content-introduce">
        <div class="introduce-list" data-length="5">
            <div class="text-guide">
                <div class="introduce-title"><span class="icon"></span>找房指南</div>
                <ul class="clearfix">
                    <li class="fleft">
                        <a href="detail.html">
                            <img src="../images/article01.jpg">
                        </a>
                    </li>
                    <li class="fright">
                        <a href="detail.html">
                            <img src="../images/article03.jpg">
                        </a>
                    </li>

                </ul>
            </div>

            <div class="introduce-article">
                <div class="introduce-title"><span class="icon"></span>一起找吧</div>
                <ul class="article-content">


                    <li class="clearfix">
                        <a class="fleft content-article-img" href="detail.html"><img
                                src="../images/article01.jpg"
                                style="transform: scale(1, 1);"><span style="opacity: 0.5;"></span></a>

                        <div class="fright content-article-text">


                            <a class="content-article-title" href="detail.html">iPhone SE：苹果用它拉你入圈</a>

                            <p class="content-article-abstract">后乔布斯时代的苹果，少了很多老乔在世时 One More Thing 的神秘感，如果不出意外的话，小尺寸
                                iPhone 就要来了。</p></div>
                    </li>

                    <li class="clearfix">
                        <a class="fleft content-article-img" href="detail.html"><img
                                src="../images/article03.jpg"
                                style="transform: scale(1, 1);"><span style="opacity: 0.5;"></span></a>

                        <div class="fright content-article-text">
                            <a class="content-article-title" href="detail.html">不一样的技术，一样的动次打次</a>

                            <p class="content-article-abstract">动铁和动圈全解析</p>
                        </div>
                    </li>

                    <li class="clearfix">
                        <a class="fleft content-article-img" href="detail.html"><img
                                src="../images/article01.jpg"
                                style="transform: scale(1, 1);"><span style="opacity: 0.5;"></span></a>

                        <div class="fright content-article-text">
                            <a class="content-article-title" href="detail.html">2016，移动“Pay”大战！</a>

                            <p class="content-article-abstract">农历新年后科技圈的第一波热点，不是某个新发的机器，而是由Apple Pay
                                入华引发的关于移动支付市场的讨论。那Apple Pay和Samsung
                                Pay到底是个啥？它们来到中国，是不是把原本微信和支付宝的移动支付内战，扩大成了国际战？
                            </p></div>
                    </li>

                    <li class="clearfix">
                        <a class="fleft content-article-img" href="detail.html"><img
                                src="../images/article03.jpg"
                                style="transform: scale(1, 1);"><span style="opacity: 0.5;"></span></a>

                        <div class="fright content-article-text">
                            <a class="content-article-title" href="detail.html">Galaxy S7上的Dual
                                Pixel是什么鬼？</a>

                            <p class="content-article-abstract">最近 Galaxy S7 占据了各种手机板块的头条，除了强大的性能和好看之外，相机的改进也颇为亮眼，这次
                                Galaxy S7 强势加入Dual Pixel 技术，到底是什么鬼？！
                            </p></div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="introduce-pages">
            <div class="global-page clearfix">
                <a class="prev" style="display: inline-block;color:#abb0bc" data-value="1"
                   href="javascript:;">
                    &lt;</a>
                <a href="javascript:;" class="curr page">1</a><a href="javascript:;" class="page"
                                                                 title="第2页">2</a>
                <a class="next"
                   style="color:#abb0bc"
                   data-value="1"
                   href="javascript:;">
                    &gt; </a>
            </div>
        </div>
    </div>
</div>
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>


<!-- #endregion Jssor Slider End -->

</body>
</html>