<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<div class="slider_container">
    <div class="slider_box">
        <div id="jssor_1" class="slide-wrapper"
             style="position: relative; margin: 0 auto; top: 0; left: 0; width: 1920px; height: 500px; overflow: hidden; visibility: hidden;">
            <div data-u="slides"
                 style="cursor: default; position: relative; top: 0; left: 0; width: 1920px; height: 500px; overflow: hidden;">
                <div>
                    <a href="disanfang.html">
                        <img src="../images/001.jpg"/>
                    </a>
                </div>
                <div>
                    <a href="jiaquan.html">
                        <img src="../images/002.jpg"/>
                    </a>
                </div>
                <div>
                    <a href="zhuangxiujianguan.html">
                        <img src="../images/003.jpg"/>
                    </a>
                </div>
                <div>
                    <a href="fangwuyanshou.html">
                        <img src="../images/004.jpg"/>
                    </a>
                </div>
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb05" style="" data-autocenter="1">
                <!-- bullet navigator item prototype -->
                <div data-u="prototype" class="" style="">
                    <div style="font-size:13px;" u="numbertemplate"></div>
                </div>
            </div>
            <!-- Arrow Navigator -->

            <div class="arrow_box">
                <span data-u="arrowleft" class="jssora22l" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora22r" data-autocenter="2"></span>
            </div>
        </div>
    </div>
</div>
<!--end banner part-->
<!--begin search data part-->

<div class="search-data" id="search-data">
    <div class="inner">
        <h2 class="title">在售评测数据</h2>

        <div class="search-box clearfix">
            <div class="search-input fleft clearfix">
                <input type="text">
                <a href="searchResultOK.html" class="action">查数据</a>
            </div>
            <div class="fright classify">
                <ul class="clearfix">
                    <li class="fright t-center active"><a href="index.html" class="table">
                        <i class="fa fa-list f-26"></i>

                        <p>列表</p>
                    </a></li>
                    <li class="fright t-center"><a href="searchMap.html" class="table">
<span class="fa-stack">
  <i class="fa fa-map-o fa-stack-2x"></i>
  <i class="fa fa-map-marker fa-stack-1x"></i>
</span>

                        <p>地图</p>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!--end search data part-->

<!--begin building list part-->
<div class="building-list">
    <div class="inner">
        <div class="detail">
            <ul class="clearfix">
                <li>
                    <a href="detail.html">
                        <img src="../images/Building01.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building02.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building03.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building04.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building05.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building06.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building07.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="detail.html">
                        <img src="../images/Building08.jpg">
                        <span class="overlay">&nbsp;</span>

                        <div class="subject">
                            <div class="subject-inner">
                                <div class="content">
                                    <h2 class="title">成都绿地中心云玺468</h2>

                                    <p class="text">是一个现代主义风格的住宅小区，均价：8700/㎡（毛坯），面积区间：78-129㎡ 。</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="paginate">
            <ul class="clearfix">
                <li class="pre">
                    <a><<</a>
                </li>
                <li class="active">
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
                <li class="next">
                    <a>>></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--end building list part-->

<!--begin zhongceke part-->
<div class="ce-ke-zhao-fang">
    <div class="inner clearfix">
        <div class="zhong-ce-ke fleft">
            <h2 class="title">众测客</h2>

            <div>
                <a href="zhongceke.html">
                    <img src="../images/ceke.jpg" class="img">

                    <p class="t-center explain">做自己的房屋评测</p>
                </a>
            </div>
        </div>
        <div class="zhong-ce-ke fright">
            <h2 class="title">公益找房</h2>

            <div>
                <a href="gongyizhaofang.html">
                    <img src="../images/zhaofang.jpg" class="img">

                    <p class="t-center explain">靠大家的公益找房</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end zhongceke part-->
<!--begin fangwenwen part-->
<div class="fang-wen">
    <div class="inner">
        <h2 class="title" id="fangwenjia">房问＋</h2>

        <div class="clearfix">
            <div class="fleft">
                <div>
                    <a href="consultingOptimization.html">
                        <img src="../images/fangwen01.jpg" class="img">

                        <p class="t-center explain">数据咨询</p>
                    </a>
                </div>
            </div>
            <div class="fright">

                <div>
                    <a href="decorationSupervision.html">
                        <img src="../images/fangwen04.jpg" class="img">

                        <p class="t-center explain">装修监管</p>
                    </a>
                </div>
            </div>

        </div>
        <div class="clearfix">
            <div class="fleft">
                <div>
                    <a href="buildingInspector.html">
                        <img src="../images/fangwen03.jpg" class="img">

                        <p class="t-center explain">房屋验收</p>
                    </a>
                </div>
            </div>
            <div class="fright">
                <div>
                    <a href="designConstruction.html">
                        <img src="../images/fangwen02.jpg" class="img">

                        <p class="t-center explain">工人预约</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end fangwenwen part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>
<div class="global_dialog global_new_dialog" style="display: none; "><div class="dialog_closebg"></div><div class="dialog_inner" style="margin-left: -180px; margin-top: -200px;"><div class="dialog_close">x</div><div class="dialog_content"><div class="msg_content">
    <h2>欢迎你!</h2>
    <a href="http://www.zealer.com/user?pagetype=setbasic" class="msg_btn_box">
        <img src="http://static.zealer.com/images/plus/mb_pic50.gif" id="msg_pic">
    </a>
    <div id="msg_name">nancy</div>
    你与极客之间的距离，可能只差个性<br>的头像！快去完善吧~
    <a href="http://www.zealer.com/user?pagetype=setbasic" class="msg_btn msg_btn_box">完善资料</a>
</div></div></div></div>
</body>
</html>