<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>

<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->

<div class="banner-article">
    <div class="content-wrapper clearfix">
        <h2 class="title-top">甲醛等危害气体检测</h2>

        <div class="title-share">
            <a href="javascript:;" class="wechat postIcons"></a>
            <a href="javascript:;" class="weibo postIcons"></a>
            <a href="javascript:;" class="qzone postIcons"></a>
        </div>
    </div>
    <div class="main-content">
        <h1 class="title">甲醛等危害气体检测</h1>

        <h3>数千元危害气体检测仪：</h3>

        <p>可对甲醛、苯、氨、甲苯、二甲苯、TVOC等八项危害气体准确检测，</p>

        <h3>适用于精装修检测、装修后检测；</h3>

        <p>建议装修结束后（入住前更好）进行相关检测，为您的健康保驾护航。</p>

        <h3>甲醛危害：</h3>

        <p>
            甲醛的主要危害表现为对皮肤粘膜的刺激作用,甲醛在室内达到一定浓度时，人就有不适感。大于0.08m³的甲醛浓度可引起眼红、眼痒、咽喉不适或疼痛、声音嘶哑、喷嚏、胸闷、气喘、皮炎等。新装修的房间甲醛含量较高，是众多疾病的主要诱因。</p>

        <h3>苯危害</h3>

        <p>由于苯的挥发性大，暴露于空气中很容易扩散。人和动物吸入或皮肤接触大量苯进入体内，会引起急性和慢性苯中毒。有研究报告表明，引起苯中毒的部分原因是由于在体内苯生成了苯酚。</p>

        <h3>氨危害</h3>

        <p>
            氨被吸入肺后容易通过肺泡进入血液，与血红蛋白结合，破坏运氧功能。短期内吸入大量氨气后可出现流泪、咽痛、声音嘶哑、咳嗽、痰带血丝、胸闷、呼吸困难，可伴有头晕、头痛、恶心、呕吐、乏力等，严重者可发生肺水肿、成人呼吸窘迫综合征，同时可能发生呼吸道刺激症状。</p>

        <h3>二甲苯危害</h3>

        <p>二甲苯对眼及上呼吸道有刺激作用，高浓度时对中枢神经系统有麻醉作用。
            急性中毒：短期内吸入较高浓度核武器中可出现眼及上呼吸道明显的刺激症状、眼结膜及咽充血、头晕、恶心、呕吐、胸闷、四肢无力、意识模糊、步态蹒跚。重者可有躁动、抽搐或昏迷，有的有癔病样发作。
            慢性影响：长期接触有神经衰弱综合征，女工有月经异常，工人常发生皮肤干燥、皲裂、皮炎。</p>

        <h3>TVOC危害</h3>

        <p>
            TVOC可有嗅味，有刺激性，而且有些化合物具有基因毒性。目前认为，TVOC能引起机体免疫水平失调，影响中枢神经系统功能，出现头晕、头痛、嗜睡、无力、胸闷等自觉症状；还可能影响消化系统，出现食欲不振、恶心等，严重时可损伤肝脏和造血系统，出现变态反应等。</p>

        <h3>此项因有试剂液体耗材支出，需单独计费，50元/一个点位。</h3>

        <h3>甲醛、苯、氨、甲苯、二甲苯、TVOC等八项检测</h3>

        <p class="img"><img src="../images/jiaquan01.jpg"></p>

        <p class="img"><img src="../images/jiaquan02.jpg"></p>

        <p class="link"><a href="http://detail.koudaitong.com/show/goods?alias=2fldy2calrbcn" target="_blank"><img
                src="../images/purchaselink.png"></a></p>
    </div>
    <div class="banner-article-comment">
        <div class="side_left">
            <div class="item">
            </div>
            <p class="post_commentTotal">评论( <span>
158</span> )</p>
            <div class="cmWrap">
                <div class="user_comment clearfix">

                    <div class="user_card">
                        <img src="http://static.zealer.com/images/mb_pic50.gif" alt="会员头像"/>
                    </div>

                    <div class="sendReply_form" id="post_new_reply">
                        <div class="inText1">
                            <textarea class="sendPost_textarea" name="comment" placeholder="说点什么吧…"
                                      id="sendPost_comments"></textarea>
                            <div class="t-right clearfix"><input type="button" value="评论" name="comment"
                                                                 class="comment_btn"/>
                            </div>
                            <input type="hidden" value="0" name="reply_id"/>
                            <input type="hidden" value="0" name="reply_author"/>
                        </div>

                    </div>
                </div>
                <div id="comments">
                    <div class="comments_list cmtList" data-total="0">
                        <ul class="clearfix">
                            <li id="c_174073" class="c_445362 clearfix">
                                <div class="list_card pic usercard" card="445362">
                                    <img src="http://img.zealer.com/50/50/6d96500c7c0c317ac50b87d25eb9c7bb559.jpg"
                                         alt="会员头像">
                                    <a href="http://www.zealer.com/personal/445362" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">Johnny</span>
                                            <span class="commentTime">&nbsp;4月5日 11:15</span>
                                        </dt>
                                        <dd><p>为什么梁sir 出场动画这么炫。曾老师出场动画就很屌丝。</p></dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174073">
<span class="info_appro">点赞</span>
<span class="">(2)</span>
</span>

                                            <span class="reply unlogin" author="445362" reply="174073"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li id="c_174071" class="c_63094 clearfix">
                                <div class="list_card pic usercard" card="63094">
                                    <img src="http://img.zealer.com/50/50/6d9000088ea4aeafe01bc076bd3ca22f825.jpg"
                                         alt="会员头像">
                                    <a href="http://www.zealer.com/personal/63094" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">nimbi</span>
                                            <span class="commentTime">&nbsp;4月5日 11:02</span>
                                        </dt>
                                        <dd>
                                            <blockquote>引用@Bluth：<p>
                                                能否做一期电视盒子方面的视频，虽说已经做了一期智能投影仪了，但对于家里已经有电视的还是不太实用，并且现在有许多的电视盒子可供选择，但具体那个好，那个比较全面还是一个问题，所以希望能做一期相关的视频。</p>
                                            </blockquote>
                                            <p>也是哦，选盒子真的是在一片海洋里游泳的感觉，况且小米自家也有发力盒子，于公于私都可以做一期呀~</p></dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174071">
<span class="info_appro">点赞</span>
<span></span>
</span>

                                            <span class="reply unlogin" author="63094" reply="174071"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li id="c_174056" class="c_608412 clearfix">
                                <div class="list_card pic usercard" card="608412">
                                    <img src="http://img.zealer.com/50/50/29968004eb44ed52892e85c973003d15603.jpg"
                                         alt="会员头像">
                                    <a href="http://www.zealer.com/personal/608412" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">熊熊</span>
                                            <span class="commentTime">&nbsp;4月4日 22:56</span>
                                        </dt>
                                        <dd><p>来看梁Sir和甩头哥的</p></dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174056">
<span class="info_appro">点赞</span>
<span></span>
</span>

                                            <span class="reply unlogin" author="608412" reply="174056"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li id="c_174023" class="c_323345 clearfix">
                                <div class="list_card pic usercard" card="323345">
                                    <img src="http://static.zealer.com/images/mb_pic50.gif" alt="会员头像">
                                    <a href="http://www.zealer.com/personal/323345" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">junior0804</span>
                                            <span class="commentTime">&nbsp;4月4日 16:18</span>
                                        </dt>
                                        <dd><p>好骚哦 &nbsp;一直挑眉</p></dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174023">
<span class="info_appro">点赞</span>
<span class="">(1)</span>
</span>

                                            <span class="reply unlogin" author="323345" reply="174023"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li id="c_174017" class="c_728369 clearfix">
                                <div class="list_card pic usercard" card="728369">
                                    <img src="http://static.zealer.com/images/mb_pic50.gif" alt="会员头像">
                                    <a href="http://www.zealer.com/personal/728369" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">D丶nine</span>
                                            <span class="commentTime">&nbsp;4月4日 14:13</span>
                                        </dt>
                                        <dd><p>想问下 视频里 那个 智能 分控 插线板的 型号是什么啊&nbsp;</p></dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174017">
<span class="info_appro">点赞</span>
<span></span>
</span>

                                            <span class="reply unlogin" author="728369" reply="174017"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li id="c_174014" class="c_728262 clearfix">
                                <div class="list_card pic usercard" card="728262">
                                    <img src="http://static.zealer.com/images/mb_pic50.gif" alt="会员头像">
                                    <a href="http://www.zealer.com/personal/728262" class="user_idcard" target="_blank"
                                       rel="nofollow">
                                        <span class="user_cover_icon"></span>
                                        <span class="user_cover"></span>
                                    </a>
                                </div>
                                <div class="list_wrap">
                                    <dl class="hot_text">
                                        <dt>
                                            <span class="mb_name">Bluth</span>
                                            <span class="commentTime">&nbsp;4月4日 12:43</span>
                                        </dt>
                                        <dd><p>
                                            能否做一期电视盒子方面的视频，虽说已经做了一期智能投影仪了，但对于家里已经有电视的还是不太实用，并且现在有许多的电视盒子可供选择，但具体那个好，那个比较全面还是一个问题，所以希望能做一期相关的视频。</p>
                                        </dd>
                                        <dd class="cmt_info cmtInfo">


<span class="appro unlogin" reply="174014">
<span class="info_appro">点赞</span>
<span></span>
</span>

                                            <span class="reply unlogin" author="728262" reply="174014"><span
                                                    class="postIcons replyIcon commentIcons"></span>回复</span>

                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <input type="hidden" value="7776af728ead6b753a2554672ba95f0ff798baa5" name="YII_CSRF_TOKEN">
                        </ul>
                    </div>
                </div>
                <div class="page_cmtList page_center">
                    <div class="global_page"><a class="prev" style="display: none" data-value="1" href="javascript:;">
                        &lt;</a><a href="javascript:;" class="curr page">1</a><a href="javascript:;" class="page"
                                                                                 title="第2页">2</a><a href="javascript:;"
                                                                                                     class="page"
                                                                                                     title="第3页">3</a><a
                            href="javascript:;" class="page" title="第4页">4</a><a href="javascript:;" class="page"
                                                                                 title="第5页">5</a><a href="javascript:;"
                                                                                                     class="page"
                                                                                                     title="第6页">6</a><a
                            href="javascript:;" class="page" title="第7页">7</a><a href="javascript:;" class="page"
                                                                                 title="第8页">8</a><a class="next"
                                                                                                     data-value="1"
                                                                                                     href="javascript:;">
                        &gt; </a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end about us part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>


<script type="text/javascript" src="../js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="../js/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="../js/ueditor/third-party/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="../js/ueditor/third-party/codemirror/codemirror.js"></script>
<script>
    //加载编辑器
    $(function () {
        window.renderEditor = function (textAreaID, width, autoHeight) {
            editor = new UE.getEditor(textAreaID, {
                initialFrameWidth: width,
                initialFrameHeight: 150,
                toolbars: [
                    ["fontsize", "Bold", "Italic", "forecolor", "Link"]
                ],
                fontsize: [14, 16, 18],
                wordCount: false,
                elementPathEnabled: false,
                autoHeightEnabled: autoHeight,
                autoFloatEnabled: true,
                topOffset: 60,
                enableContextMenu: false,
                customDomain: true,
                pasteplain: true   //不允许粘贴样式
            });

//对ueditor.min.js增加判断图片大小,回复框图片尺寸
            editor.addListener('ready', function (editor) {
                $('iframe').addClass('changeSize');
            });


            return editor;
        };

        window.commentEditor = renderEditor('sendPost_comments');
    })
</script>

</body>
</html>