<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
 </head>
<body>

<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->

<div class="personal-info-modify">
    <div class="main_content clearfix">
        <div class="content_left">
            <div class="left_logo">
            </div>
            <div class="user_pic">
                <a href="javascript:;" rel="nofollow" target="_blank">
                    <img src="../images/mb_pic50.gif" class="pic_size" alt="会员头像">
                </a>
                <a href="javascript:;" class="user_cover">更换头像</a>
            </div>
            <div style="display:none" class="repic_mask">
                <div class="mask_bg">

                </div>
            </div>

            <dl class="left_list">
                <dd>
                    <a href="basicInfo.html" otype="setbasic"><span
                            class="left"> </span>基本设置<span class="right"> </span></a>
                    <a href="bindemailtel.html" otype="setmail"><span class="left"> </span>手机和邮箱<span
                            class="right"> </span></a>
                    <a href="modifyPasswd.html" otype="setpsd" class="sidebar_active"><span class="left"> </span>修改密码<span
                            class="right"> </span></a>
                    <!--<a href="/user?pagetype=setaccount" otype="setaccount"><span class="left"> </span>第三方账号<span-->
                            <!--class="right"> </span></a>-->
                </dd>
            </dl>
        </div>
        <div style="display:none" class="input_content">
        </div>


        <div class="content_right">
            <h2>
                基本信息
            </h2>
            <table class="user_basic">
                <tbody>
                <tr>
                    <td> 当前密码</td>
                    <td><input type="password" maxlength="20" class="old_pwd"></td>
                </tr>
                <tr>
                    <td> 新密码</td>
                    <td><input type="password" maxlength="20" class="new_pwd"></td>
                </tr>
                <tr>
                    <td> 确认密码</td>
                    <td><input type="password" maxlength="20" class="certain_pwd"></td>
                </tr>

                </tbody>
            </table>
            <input type="hidden" value="28b7300620915fb26bd9bc1bdab5b2cd96a3be02" name="YII_CSRF_TOKEN">
            <div class="save_btn">保存</div>
        </div>
    </div>
</div>
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>


<!-- #endregion Jssor Slider End -->

</body>
</html>