<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet"
          href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>

<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<!--begin about us part-->



<div class="personal-center-wrap">
    <div class="personal-info clearfix">
        <div class="header-pic">
            <div class="pic">
                <img src="../images/mb_pic80.gif">
            </div>
            <div class="setting">
                <a href="javascript:void(0);">设置</a>
            </div>
        </div>
        <div class="header-center">
            <div class="user-name">
                ☆~冰落~☆
            </div>
            <div class="user-info">
                <span class="user-sex personal-logo">
男</span><span class="personal-logo user-address">
四川</span>
            </div>
        </div>
        <div class="post-num">
            <a href="personalCenterComment.html" class="reply-number">
                <div class="reply-logo personal-logo">

                </div>
                <div class="reply-text">评论</div>
                <div class="reply-num">1</div>
            </a>
        </div>
    </div>
    <div class="personal-main clearfix">
        <div class="left-panel">
            <div class="collect-wrap">
                <h2>
                    数据咨询与优化
                    <a class="view-all-collect" href="personalCenterMore.html">查看全部 &gt;</a>
                </h2>
                <div class="collec-post-wrap clearfix">
                    <a href="" target="_blank">
                        <span class="title">中铁城锦南汇</span>
<span class="collect-time">
<s class="global-grey-icons grey-time">
</s>
5秒前</span>
                    </a>
                    <a href="" target="_blank">
                        <span class="title">中铁城锦南汇</span>
<span class="collect-time">
<s class="global-grey-icons grey-time">
</s>
5秒前</span>
                    </a>
                    <a href="" target="_blank">
                        <span class="title">中铁城锦南汇</span>
<span class="collect-time">
<s class="global-grey-icons grey-time">
</s>
5秒前</span>
                    </a>
                </div>
            </div>
            <div class="collect-wrap">
                <h2>
                    设计与施工推荐
                    <a class="view-all-collect" href="personalCenterMore.html">查看全部 &gt;</a>
                </h2>
                <div class="collec-post-wrap clearfix">
                    <a href="" target="_blank">
                        <span class="title">中铁城锦南汇</span>
<span class="collect-time">
<s class="global-grey-icons grey-time">
</s>
5秒前</span>
                    </a>
                </div>
            </div>
            <div class="collect-wrap">
                <h2>
                    房屋验收
                    <a class="view-all-collect" href="personalCenterMore.html">查看全部 &gt;</a>
                </h2>
                <div class="collec-post-wrap clearfix">
                    <a href="" target="_blank">
                        <span class="title">中铁城锦南汇</span>
<span class="collect-time">
<s class="global-grey-icons grey-time">
</s>
5秒前</span>
                    </a>
                </div>
            </div>
            <div class="collect-wrap">
                <h2>
                    装修监管预约
                    <a class="view-all-collect" href="personalCenterMore.html">查看全部 &gt;</a>
                </h2>
                <div class="empty-collect clear">
                    <div class="empty-left personal-logo">
                        <div class="collect-tip">
                            暂无数据！
                        </div>
                    </div>
                </div>
            </div>
            <div class="collect-wrap">
                <h2>
                    我的评论
                    <a class="view-all-collect" href="personalCenterComment.html">查看全部 &gt;</a>
                </h2>
                <div class="video_comment_wrap">
                    <div class="comment_item">
                        <div class="comment_action">
                            评论了：
                            <a href="http://www.zealer.com/post/289.html" target="_blank">
                                <span class="title">真假 &nbsp;iPhone SE&nbsp;拆了才知道</span>
                            </a>
                        </div>
                        <div class="comment_message">
                            <p>bucuo</p></div>
                        <div class="comment_time">
                            <s class="global_grey_icons grey_time">
                            </s>
                            2分钟前</div>
                    </div>
                    <div class="comment_item">
                        <div class="comment_action">
                            评论了：
                            <a href="http://www.zealer.com/post/289.html" target="_blank">
                                <span class="title">真假 &nbsp;iPhone SE&nbsp;拆了才知道</span>
                            </a>
                        </div>
                        <div class="comment_message">
                            <blockquote>引用@wangmy：<p>厉害！</p><p><br></p><p>是比较厉害</p></blockquote></div>
                        <div class="comment_time">
                            <s class="global_grey_icons grey_time">
                            </s>
                            10分钟前</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <ul>
                <a href="personalCenter.html" class="active">
                    <span class="active-arrow">&gt;</span>我的主页
                </a>
                <a href="personalCenterMore.html" class="">
                    <span class="active-arrow">&gt;</span>数据咨询与优化<span class="num">3</span>
                </a>
                <a href="personalCenterMore.html" class="">
                    <span class="active-arrow">&gt;</span>设计与施工推荐<span class="num">1</span>
                </a>
                <a href="personalCenterMore.html" class="">
                    <span class="active-arrow">&gt;</span>房屋验收<span class="num">1</span>
                </a>
                <a href="personalCenterMore.html" class="">
                    <span class="active-arrow">&gt;</span>装修监管预约<span class="num">1</span>
                </a>
                <a href="personalCenterMore.html" class="">
                    <span class="active-arrow">&gt;</span>我的评论<span class="num">1</span>
                </a>
            </ul>
        </div>
    </div>
</div>

<!--end about us part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
        src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>

<!-- #endregion Jssor Slider End -->

</body>
</html>