<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<div class="content-wrapper">
</div>
<!--begin search data part-->

<div class="search-data">
    <div class="inner">
        <h2 class="title">在售评测数据</h2>

        <div class="search-box clearfix">
            <div class="search-input fleft clearfix">
                <input type="text" placeholder="请输入区域、商圈或小区名">
                <a href="searchResultOK.html" class="action">查数据</a>
            </div>
            <div class="fright classify">
                <ul class="clearfix">
                    <li class="fright t-center"><a href="index.html" class="table">
                        <i class="fa fa-list f-26"></i>

                        <p>列表</p>
                    </a></li>
                    <li class="fright t-center"><a href="searchMap.html" class="table">
<span class="fa-stack">
  <i class="fa fa-map-o fa-stack-2x"></i>
  <i class="fa fa-map-marker fa-stack-1x"></i>
</span>

                        <p>地图</p>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="search-result">
    <div class="search-list no-data">
        <div class="reminder">
            <p>您肯定在找一个很有意思的楼盘，它可能是二手房、未开盘或者数据暂未被呈现，还没有被完整分析过，如果您对“XXXXX”好奇，请联系我们，我们将组织力量第一时间为您进行分析与解答。</p>

            <p>公众号：fangwenwencd</p>

            <p>QQ群：XXXXX</p>
        </div>
    </div>
</div>
<!--end search data part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>


<!-- #endregion Jssor Slider End -->

</body>
</html>