<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--begin header part-->
<div class="header">

    <div class="subwrapper">
        <div class="header_inner clearfix">
            <a class="inner_logo fleft" href="index.html"></a>
            <ul class="inner_nav fleft clearfix">
                <li><a class="" href="index.html">首页</a></li>
                <li><a class="" href="consultingOptimization.html">数据咨询</a></li>
                <li><a class="" href="jianguanzhibo.html">监管直播</a></li>
                <li><a class="" href="aboutUs.html">关于我们</a></li>
            </ul>
            <div class="inner_login fright" style="">
                <a href="signin.html"
                   class="login_in">登录</a><span class="seperate-line">|</span>
                <a class="logoutCss"
                   href="signup.html">注册</a>
                <!--<span href="javascript:void(0);" class="account-user">-->
                <div class="account-user">
                    <a href="#">
                        <img class="user-img" src="../images/user01.gif" alt="会员头像">
                        <span class="user-name">王阳明</span>
                    </a>

                    <div class="person-dropdown-info">
                        <ul>
                            <li><a href="personalCenter.html">我的主页</a></li>
                            <li><a href="basicInfo.html">完善个人信息</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div>-->

                <!--</div>-->
                <!--</span>-->
                <!--<span class="account_user clear">-->
                <!--<a class="img_link clear" href="/personal">-->
                <!--<img class="user_img" src="http://static.zealer.com/images/plus/mb_pic50.gif" alt="会员头像">-->
                <!--</a>-->
                <!--<span class="user_active bigHead">-->
                <!--<a href="/personal" class="active_name" rel="nofollow">nancy</a>-->
                <!--<a href="/user/logout" rel="nofollow">退出</a>-->
                <!--</span>-->
                <!--</span>-->
            </div>
        </div>
    </div>
</div>
<!--end header part-->
<div class="content-wrapper">
</div>
<!--begin search data part-->

<div class="search-data">
    <div class="inner">
        <h2 class="title">在售评测数据</h2>

        <div class="search-box clearfix">
            <div class="search-input fleft clearfix">
                <input type="text" placeholder="请输入区域、商圈或小区名">
                <a href="searchResultOK.html" class="action">查数据</a>
            </div>
            <div class="fright classify">
                <ul class="clearfix">
                    <li class="fright t-center"><a href="index.html" class="table">
                        <i class="fa fa-list f-26"></i>

                        <p>列表</p>
                    </a></li>
                    <li class="fright t-center"><a href="searchMap.html" class="table">
<span class="fa-stack">
  <i class="fa fa-map-o fa-stack-2x"></i>
  <i class="fa fa-map-marker fa-stack-1x"></i>
</span>

                        <p>地图</p>
                    </a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="search-result">
    <div class="search-list">
        <div class="reminder">
            <p>如果结果中没有您搜索的“XXXXX”的最感兴趣的内容，</p>
            <p>欢迎联系我们，公众号：XXXXX，QQ群：XXXXX，我们将第一时间为您组织解答。</p>
        </div>

        <div class="result-wrap" data-totalnum="20">
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58812.html">6s</a>
                    </div>
                    <div class="result-content">
                        我手机升级iOS9.3生完为什么用自带live photo的壁纸手机屏幕会变的又一点点的暗？
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58800.html">SE? 6? 6s? 带你看清 SE 的一切!</a>
                    </div>
                    <div class="result-content">
                        今天 苹果又召开了一次 发(确)布(认)会iPhone SE9.7 寸 iPad Pro以及一大堆 Apple Watch 的表带 和 降了价的 AW当然今天的主角还是放在这个看起来一样 的
                        iPhone SE特此声明: 所有图片 来自 Apple.ca写这篇东西 主要...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58680.html">6S免打扰</a>
                    </div>
                    <div class="result-content">
                        我的为什么没有免打扰一小时
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58540.html">OPPO R9 VS iPhone 6s 对比上手 总结 图文直播！</a>
                    </div>
                    <div class="result-content">
                        来！先来看个上手：OPPO R9 VS iPhone 6s&nbsp;对比上手！究竟有多像！！微信公众号：李润生 &nbsp; &nbsp;微博账号：@李润生&nbsp;发布会结束了，下面我对
                        OPPO R9 做一个总结，想看图文直播的可以直接拉到后面开始看哦。「OPPO R9 ...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58104.html">#iPhone 6S待机问题# 一个晚上掉电13%</a>
                    </div>
                    <div class="result-content">
                        &nbsp; 买回来三个月了，一直没有注意他的电量是怎么变化的。但是这段时间晚上没充电 掉电很厉害。我关了网络 wifi 清空了后台
                        。一个晚上还是掉电13%。不关的时候还试过20%多。实在可怕、为什么会这样？&nbsp; 之前的安卓机...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/58046.html">对苹果 iphone 6S Plus港版的了解做了简单说明</a>
                    </div>
                    <div class="result-content">
                        现在很多网友对于苹果都是非常熟悉了，比如两年更换一次外观设计，中间带S的机型则是前系的性能加强版。而今天笔者给大家介绍的则是目前苹果旗下的巨屏旗舰iphone
                        6S Plus，作为当下人气最高的机型，&nbsp;苹果 iphone ...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57985.html">视频-S7 edge、 Nexus 6P 、iPhone 6S P、 Moto x 全面pk</a>
                    </div>
                    <div class="result-content">
                        三星最新旗舰 Galaxy S7/S7 edge 已经全面发售了，关于该机的测评越来越多，但接下来的这段视频，也许是目前全网最全面的Galaxy S7 edge、 Nexus 6P
                        、iPhone 6S Plus、 Moto X Pure四大旗舰最强pk。视频称：虽然很...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57890.html">苹果12W的充电器到底能不能给6s plus充电？</a>
                    </div>
                    <div class="result-content">
                        如题，昨天去苹果店换了一个充电器，因为原来iPad
                        Air2的充电器坏了。回来之后发现是12W的，虽然以前没有注意，但我记得看过新闻说Air2的充电器换成10W了。于是我在苹果官网上查了一下，发现12W的充电器的说明上写着...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57775.html">求推荐一款6s能推动的好耳机</a>
                    </div>
                    <div class="result-content">
                        萌新表示刚入坑 &nbsp;求推荐 &nbsp;预算2000左右
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57753.html">6s摇晃摄像头附近有声响</a>
                    </div>
                    <div class="result-content">
                        求专业答复
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57561.html">实在受不了6S每天下午3电要充电，折旧 钱换了6S Plus。一直在用很俗的金色，可灰色无货。。。</a>
                    </div>
                    <div class="result-content">
                        顺便晒一下10年前的PSP1000，好怀念那段时光。。。
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57495.html">三星S7 PK iPhone 6s，谁是你心中的机皇？</a>
                    </div>
                    <div class="result-content">
                        三星在今年的MWC大会上率先推出了Galaxy S7，与去年发布的iPhone
                        6s相比，是否更占优势呢？且看两款手机的上手对比评测！1、外观设计首先，这两款手机在外观上都延续了上一代的设计风格，尤其是iPhone 6s，外观几乎...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57469.html">三星s7对比6s拍照</a>
                    </div>
                    <div class="result-content">
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57352.html">6s的一些新功能求解</a>
                    </div>
                    <div class="result-content">
                        感觉第一次用，好多功能不了解。求大神告知。
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57182.html">有多少用6s的朋友，你们的6s有没有掉电严重的问题？</a>
                    </div>
                    <div class="result-content">
                        我最近感觉手机掉电有点严重，真的是明显感觉到了，所以昨晚睡前就留意了下睡前刷微博，还剩80%电量，然后把微博退掉，后台只有微信，电话，短信，照片今天早上醒来一看还剩75%然后便解锁玩了会，大概30秒的时间，电...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/57040.html">关于6s混用充电器的问题。。。</a>
                    </div>
                    <div class="result-content">
                        嫌用6s原装充电器充电太慢，能换用安卓机用的2A充电器充电吗？。。。会造成损坏吗。。。小米的2A充电器。。。
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/56998.html">爆料！iPhone5se/iPad Air 3 搭载A9系列芯片，性能赶超6s？</a>
                    </div>
                    <div class="result-content">
                        2&nbsp;月&nbsp;19&nbsp;日消息，MWC大会正被炒的沸沸扬扬，安卓阵营有三星&nbsp;S7、小米&nbsp;5&nbsp;、LG、乐视等重磅新机不断爆料，虽然安卓大阵营里面很多旗舰机值得期待，但是苹果的四英寸新机&nbsp;iPhone5se&nbsp;同样值得关注。&nbsp;今天，我为...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/56993.html">吐槽一下6S运行IOS9.2.1遇到的一些问题，不知打大家是否也遇到</a>
                    </div>
                    <div class="result-content">
                        官网第一批预定的iPhone6S
                        64G版本，用到现在发现以下问题，看看大家是否也预见，不全面的大家也补上一起讨论问题1.主屏上划快捷菜单手电筒问题，经常打开一会（也就是2-3分钟）就关不上，反复关好几次才行，而且很...
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/56891.html">大家的6s有没有遇到，指纹识别不灵敏的情况</a>
                    </div>
                    <div class="result-content">
                        这两个月有点冷，6 s的指纹识别总是不能识别，不知道大家有没有这种情况
                    </div>
                </li>
            </ul>
            <ul class="result-inner">
                <li>
                    <div class="result-title">
                        <a href="/post/56712.html">关于用6s推 ie60，ie80i</a>
                    </div>
                    <div class="result-content">
                        之前听一个哥们说5s推不动ie80，所以他买了60，我听过，个人感觉还不错，可是前几天去商场，看到出了个ie80i，i means for
                        iPhone。就突然觉得有点疑惑。所以说如果是6s的话，或者classic能推动ie80i嘛？多谢...
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end search data part-->
<!--begin footer part-->
<div class="footer">
    <div class="inner clearfix">
        <div class="inner_copyr fleft">真实的房屋数据提供者<em class="ml10 mr10">|</em>FWW<em class="ml10 mr10">|</em>&nbsp;
            蜀ICP备15024827号
        </div>
        <div class="inner_follow fright">
            <a class="follow_wx" href="javascript:void(0);">
                <img src="../images/weixin.png" class="qr_code">
            </a>
            <a class="follow_wb" href="http://www.weibo.com/fwwfww" target="_blank"></a>
        </div>
    </div>
</div>
<!--end footer part-->

<!--begin scroll-top part-->
<!--end scroll-top part-->

<div class="side_btn">
    <i class="fa fa-angle-up"></i>
</div>
<!--end footer data part-->

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>


<!-- #endregion Jssor Slider End -->

</body>
</html>