<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title></title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="../js/third/Font-Awesome-master/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <!--<link type="text/css" rel="stylesheet" href="../js/third/font-awesome/css/font-awesome.min.css">-->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <style type="text/css">

        body {
            background-color: #fafcff;
        }


    </style>
</head>
<body>

<div class="sign-login-wrap">
    <div class="header-logo">
        <div class="header-box">
        </div>
        <a href="index.html" class="header-logo">
            <img src="../images/singuplogo.png" class="logo">
        </a>
    </div>
    <div class="content wrapWidth clearfix">
        <div class="content-left">
            <img src="../images/signIn.png">
        </div>
        <div class="content-right">
            <div class="info-space">
                <input type="text" class="text" name="username" placeholder="邮箱、手机">
                <span class="info-error">请输入用户名</span>
            </div>
            <div class="info-space">
                <input type="password" class="text" name="password" placeholder="密码">
                <span class="info-error">请输入密码</span>
            </div>
            <div class="login-info">
                <span class="page-select"><em class="select-box select-box-login"></em>记住密码</span>
                <a href="getpasswd01.html" class="info-forgot"> 忘记密码? </a>
            </div>
            <button class="black login_btn"> 登录 </button>
            <div class="login-info">
                <span class="info-reg">还没有账号，<a href="signup.html">立即注册</a></span>
            </div>
            <div class="page-login-method">
                <a href="http://www.zealer.com/Index/qq?redirect=http://www.zealer.com/" alt="qq登录" class="method-qq" style="margin-left: 50px;"></a>
                <a href="http://www.zealer.com/Index/sina?redirect=http://www.zealer.com/" alt="weibo登录" class="method-weibo"></a>
                <a href="http://www.zealer.com/Index/aliPay?redirect=http://www.zealer.com/" alt="alipay登录" class="method-alipay"></a>
                <!--
                <a href="http://www.zealer.com/Index/wechatLogin?redirect=http://www.zealer.com/" alt="wechat登录" class="method_wechat"></a>
                -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/third/jssor.slider.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/third/jquery-ui-1.11.4.custom/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="../js/custom.js"></script>


</body>
</html>