@charset "utf-8";

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, pre, form, p, blockquote, input, abbr, article, aside, figcaption, fieldset, figure, footer, header, mark, meter, menu, nav, output, progress, section, summary, time ,button{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    list-style: none;
}

iframe, a, img, button {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

article, aside, footer, header, nav, section, figure, figcaption {
    display: block;
}

input, textarea, select,button {
    outline: 0;
}

textarea {
    resize: none;
}

img {
    vertical-align: middle;
}

i, em {
    font-style: normal;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

/*a:hover {*/
/*text-decoration: underline;*/
/*}*/

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}
.t-indent{
    text-indent: 2em;
}

.middle {
    vertical-align: middle;
}

.hand {
    cursor: pointer;
}

input[type=submit], input[type=button], input[type=text], textarea, button, select {
    -webkit-appearance: none;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr60 {
    margin-right: 60px;
}

.pl5 {
    padding-left: 5px;
}

.pl15 {
    padding-left: 15px;
}

.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}

.pt10 {
    padding-top: 10px
}
.pt20 {
    padding-top: 20px
}

.pt5 {
    padding-top: 5px;
}

.pt15 {
    padding-top: 15px;
}
.pt25 {
    padding-top: 25px;
}

.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}

.pb15 {
    padding-bottom: 15px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}


.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}
.f-22 {
    font-size: 22px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-36 {
    font-size: 36px !important;
}

.f-50 {
    font-size: 50px !important;
}

.f-w {
    font-weight: bold !important;
}

.w100 {
    width: 100%;
}

body {
    font: 400 13px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    /*background-color: #eceef1;*/
    /*background-color: #fafcff;*/
    background-color: #F4F7FB;
}

body.grey-bg {
    background-color: #eaeaea;
}

input, button, textarea {
    font: 400 14px/1.5 Arial, STHeiti, Microsoft YaHei, simsun, Helvetica, sans-serif;
    border: none;
}

div.container {
    width: 1170px;
    margin: 0 auto;
}

div.ps-con {
    margin-top: 15px;
}

u {
    color: #eb7676;
    font-style: normal;
    text-decoration: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ccc !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc !important;
}

input.onholder {
    color: #ccc;
}

span.onholder {
    color: #ccc;
    position: absolute;
    z-index: 8;
}

/*a {*/
/*color: #2c84cc;*/
/*outline-style: none;*/
/*}*/

/*a.a_grey {*/
/*color: #999;*/
/*}*/

/*a.a_green {*/
/*color: #7cb228;*/
/*}*/

/*a.a_d {*/
/*color: #999;*/
/*text-decoration: none;*/
/*}*/

/*a.a_d:hover {*/
/*text-decoration: underline;*/
/*}*/

a.a-u {
    text-decoration: underline;
}

/*a:hover u {*/
/*text-decoration: underline;*/
/*}*/

/*a.links {*/
/*color: #2c84cc;*/
/*}*/

a.links:hover {
    /*color: #2472b4;*/
    text-decoration: underline;
}

.grey-b5 {
    color: #b5b5b5;
}

.grey-97 {
    color: #979797;
}

.grey-9b {
    color: #9b9b9b;
}

.grey-97 {
    color: #979797;
}
.grey-b4 {
    color: #b4b4b5;
}
.grey-b6 {
    background-color: grey !important;
}

.grey-5c {
    color: #5c5b5c;
}
.grey-bg-9b {
    background-color: #9b9b9b !important;
}
.black {
    color: #000;
}

.blue-01 {
    color: #59a2e7;
}

.blue-02 {
    color: #398de3;
}

.blue-bg-01 {
    background-color: #398de3 !important;
}

.blue-bg-02 {
    background-color: #e3f3fd !important;
}

.blue-bg-03 {
    background-color: #398de3 !important;
}

.blue-v2 {
    color: #2c84cc;
}

.red-01 {
    color: #d0011b;
}

.red_bg_01 {
    background-color: #d0011b;
}

.green_01 {
    color: #1fa714;
}

.def {
    color: #343434;
}

.grey_66 {
    color: #666;
}

.grey_33 {
    color: #333;
}

.orange-txt-01 {
    color: #ff9100;
}

.orange-txt-02 {
    color: #ff9100;
}

.orange-txt-03 {
    color: #ff9100;
}

.orange-bg-01 {
    background-color: #ff9100;
}

.orange-bg-02 {
    background-color: #ff9100;
}

.dark-brown-bg {
    background-color: #2d241b;
}

.white-bg {
    background-color: #fff;
}

.white-txt {
    color: #fff;
}

.space10 {
    height: 10px;
}

.space20 {
    height: 20px;
}

.v_top {
    vertical-align: top;
}

.in {
    display: block;
}

.out {
    display: none;
}

a{
    cursor: pointer;
}

a.default{
    cursor: auto;
}

.my-placeholder{
    color: #434343;
}
.phcolor{
    color:#999;
}