<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>领导查询</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/tfbankstyle2.css">
    <style>
        body {
            background: url("../images/cdtj_body_bg.png") repeat-y 0 0;
        }


    </style>
</head>
<body>
<div class="tfbankstyle-leader-query-content-container">
<div class="tfbankstyle-employee-self-service-container">
<div class="tfbankstyle_homepage_logo">
    <div class="tfbankstyle_homepage_logo_left">
        <a href="#" style="float:left"><img class="tfbankstyle-mt20 tfbankstyle-index-logo-img"
                                            src="../images/tfbankstyle_leaderQuery_logo.png" alt=""/></a>

        <div class="tfbankstyle_leaderQuery_leader_nav">
            <ul class="tfbankstyle-clearfix">
                <li class="tfbankstyle_leaderQuery_active"><a href="#">首页</a></li>
                <li><a href="#">机构管理</a></li>
                <li><a href="#">岗位管理</a></li>
                <li><a href="#">人员管理</a></li>
                <li class="tfbankstyle_menu_li_last"><a href="#">合同管理</a></li>
            </ul>
        </div>
    </div>

    <div class="tfbankstyle_homepage_logo_right">
        <a href="javascript:void(0);" class="tfbankstyle-user-portrait-wrapper"><img
                src="../images/tf_avatar_man.png" class="tfbankstyle-user-portrait-img" alt=""/><span
                class="tfbankstyle-txt-a97334">李想</span></a><a href="jnbankLogin.html"
                                                               class="tfbankstyle_homepage_tuichu"><img
            src="../images/tfbank_homepage_tuichu.png" class="tfbankstyle_homepage_tuichu_icon" alt=""/><span
            class="tfbankstyle-txt-a97334">退出</span></a>
    </div>
</div>
<div class="tfbankstyle-index-content">
    <div class="tfbankstyle-index-inner-container clearfix">

        <div class="tfbankstyle-right-main">
            <div class="tfbankstyle-main-wrapper">
                <div class="tfbankstyle-main-wrapper-subwrapper clearfix">
                    <div class="tfbankstyle-part-wrapper tfbankstyle-part-left-wrapper">
                        <div class="tfbankstyle-part tfbankstyle-left-part">
                            <h3 class="tfbankstyle-title">系统公告<a
                                    class="tfbankstyle-title-more"
                                    href="#">MORE >></a>
                                <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                            </h3>

                            <div class="tfbankstyle-main-subwrapper">
                                <img class="tfbankstyle-subject-img" src="../images/tfbank_daibanshiyi.png">
                                <table class="tfbankstyle-w100">
                                    <tbody>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>凯斯纽荷兰工业集团全球金融总裁Oddone Incisa...</span>
                                        </td>
                                        <td class="date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>四川天府银行印章管理系统项目招标公告</span>
                                        </td>
                                        <td class="date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>四川天府银行股份有限公司关于增值税发票开具有...</span>
                                        </td>
                                        <td class="date">2016-02-18</td>
                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>苏租30年发展研讨会在宁成功举办</span>
                                        </td>
                                        <td class="date">2016-02-18</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tfbankstyle-part-wrapper tfbankstyle-part-right-wrapper">
                        <div class="tfbankstyle-part tfbankstyle-right-part">
                            <h3 class="tfbankstyle-title">常用查询<a
                                    class="tfbankstyle-title-more"
                                    href="#">MORE >></a>
                                <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                            </h3>

                            <div class="tfbankstyle-main-subwrapper clearfix tfbankstyle-main-right">

                                <table class="tfbankstyle-w100">
                                    <tbody>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>本年内最新任免情况查询</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>本年内新入行人员情况查询</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>本年内离职人员情况查询</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><span class="tfbankstyle-item-para-text"><span
                                                class="double-angle-right">&bull;</span>本年内离职人员情况查询</span>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--中间的div -->
                <div class="tfbankstyle_leader_middle_wrapper">
                    <div class="tfbankstyle-index-inner-container">
                        <div class="tfbankstyle_leader_middle_subwrapper">
                            <h3 class="tfbankstyle-title">机构概况
                                <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt="">
                            </h3>

                            <div class="tfbankstyle_leaderQuery_subwrapper clearfix">
                                <div class="tfbankstyle_leaderQuery_left tfbankstyle_leaderQuery_left_content">
                                    <p>截止2013年12月，全行各类机构共<br> <span
                                            class="tfbankstyle_leaderQuery_big">224</span>
                                        家。
                                    </p>
                                </div>
                                <div class="tfbankstyle_leaderQuery_right_content">
                                    <p>全行下有网点224家，总行1家，支行223家，村镇一行2家。</p>

                                    <p>一级支行31家，二级支行192家，总行营业部1家。</p>

                                    <p>其中，一级一类支行10家，异地支行3家，一级二类支行18家，二级一类支行48家，二级二类支行93家，二级三雷支行51家</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 中间的div   over -->


                <div class="tfbankstyle_charts_list_container">
                    <ul class="clearfix tfbankstyle_charts_list">
                        <li>
                            <div class="tfbankstyle_ess_content_wrapper">
                                <div class="tfbankstyle_ess_content">

                                    <h3 class="tfbankstyle-title">员工_年龄情况</h3>

                                    <div class="tfbankstyle_charts_item">
                                        <img src="../images/tf_chart_age.png">

                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tfbankstyle_ess_content_wrapper">
                                <div class="tfbankstyle_ess_content">

                                    <h3 class="tfbankstyle-title">员工_学历情况</h3>

                                    <div class="tfbankstyle_charts_item">
                                        <img src="../images/tf_chart_academic.png">
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tfbankstyle_ess_content_wrapper tfbankstyle_ess_content_wrapper_last">
                                <div class="tfbankstyle_ess_content">

                                    <h3 class="tfbankstyle-title">员工_职等情况</h3>

                                    <div class="tfbankstyle_charts_item">
                                        <img src="../images/tf_chart_position.png">
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="tfbankstyle-index-footer t-center tfbankstyle-txt-6a3800">
    Copyright © 2017 四川天府银行 版权所有
</div>
</div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        /**
         * BEGIN 图表3个部分高度一致
         */


            // 获取数组中的最大值
        Array.prototype.max = function () {
            var max = this[0];
            var len = this.length;
            for (var i = 1; i < len; i++) {
                if (this[i] > max) {
                    max = this[i];
                }
            }
            return max;
        };


        function chartLiHeight() {
            var liHeightArr = [];
            var liMaxHeight = 0;
            $(".tfbankstyle-leader-query-content-container .tfbankstyle_charts_list li .tfbankstyle_ess_content_wrapper").each(function () {
                liHeightArr.push($(this).height());
            });

            liMaxHeight = liHeightArr.max();

            $(".tfbankstyle-leader-query-content-container .tfbankstyle_charts_list li .tfbankstyle_ess_content_wrapper").each(function () {
                $(this).height(liMaxHeight);
            });

            $(".tfbankstyle_charts_list_container").css({
                "visibility": "visible"
            })
        }

        chartLiHeight();

        $(window).resize(function () {
//            heightConsistent(".tfbankstyle-right-main", ".tfbankstyle-left-sidebar");
            chartLiHeight();
        });

        /**
         * END 首页左侧菜单和右侧内容高度一致
         */

    })
</script>
</body>
</html>