<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>员工自助</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/tfbankstyle2.css">
    <style>
        body {
            background: url("../images/cdtj_body_bg.png") repeat-y 0 0;
        }


    </style>
</head>
<body>
<div class="tfbankstyle-employee-self-service-container">
    <div class="tfbankstyle_homepage_logo tfbankstyle-index-inner-container">
        <a href="#"><img class="tfbankstyle-index-logo-img" src="../images/cdtf_self_service_logo.png" alt=""></a>

        <div class="tfbankstyle_homepage_logo_right">
            <a href="javascript:void(0);" class="tfbankstyle-user-portrait-wrapper"><img
                    src="../images/tfbank_female_head.png" class="tfbankstyle-user-portrait-img" alt=""/><span
                    class="tfbankstyle-txt-a97334">李想</span></a><a href="jnbankLogin.html"
                                                                   class="tfbankstyle_homepage_tuichu"><img
                src="../images/tfbank_homepage_tuichu.png" class="tfbankstyle_homepage_tuichu_icon" alt=""/><span
                class="tfbankstyle-txt-a97334">退出</span></a>
        </div>
    </div>
    <div class="tfbankstyle-index-content">
        <div class="tfbankstyle-index-inner-container clearfix">
            <div class="tfbankstyle-left-sidebar">
                <h2 class="menu-name">系统应用</h2>
                <ul>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_xinchou.png">薪酬查询</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_fuli.png">我的福利</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_kaoqin.png">考勤查询</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_neibuzhaopin.png">内部竞聘</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_zhengzhao.png">我的证照</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_kaoping.png">考评查询</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_yejichaxun.png">业绩查询</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_kaoshixinxi.png">考试信息</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtf_icon_xiaoxitixing.png">消息提醒</a>
                    </li>

                </ul>
            </div>
            <div class="tfbankstyle-right-main">
                <div class="tfbankstyle-main-wrapper">
                    <div class="tfbankstyle-main-wrapper-subwrapper clearfix">
                        <div class="tfbankstyle-part-wrapper">
                            <div class="tfbankstyle-part tfbankstyle-left-part">
                                <h3 class="tfbankstyle-title">待办事宜<a
                                        class="tfbankstyle-title-more"
                                        href="#">MORE >></a>
                                    <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                                </h3>

                                <div class="tfbankstyle-main-subwrapper">
                                    <img class="tfbankstyle-subject-img" src="../images/tfbank_daibanshiyi.png">
                                    <table class="tfbankstyle-w100">
                                        <tbody>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>新入职员工张明等待您签订入职合同</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行荣获“2015年度银行卡跨行交易技术运营水</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tfbankstyle-part-wrapper tfbankstyle-part-right-wrapper">
                            <div class="tfbankstyle-part tfbankstyle-right-part">
                                <h3 class="tfbankstyle-title">最新公告<a
                                        class="tfbankstyle-title-more"
                                        href="#">MORE >></a>
                                    <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                                </h3>

                                <div class="tfbankstyle-main-subwrapper clearfix">
                                    <img class="tfbankstyle-subject-img" src="../images/tfbank_zuixingonggao.png">
                                    <table class="tfbankstyle-w100">
                                        <tbody>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行荣获“2015年度银行卡跨行交易技术运营水</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        <tr>
                                            <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                            </td>
                                            <td class="date">2016-02-18</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tfbankstyle_employeeSelfService_shortcut_wrapper">
                        <ul class="tfbankstyle_employeeSelfService_shortcut tfbankstyle-clearfix">
                            <li><a href="#">
                                <div class="tfbankstyle_ess_content_wrapper">
                                    <div class="tfbankstyle_ess_content">
                                        <img src="../images/tfbankstyle_employeeSelfService_01.png">
                                        <h5 class="tfbankstyle-employee-title">信息查询</h5>

                                        <p class="tfbankstyle-employee-intro">查看本人的个人信息及个人岗位说明书。</p>
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="tfbankstyle_ess_content_wrapper">
                                    <div class="tfbankstyle_ess_content">
                                        <img src="../images/tfbankstyle_employeeSelfService_02.png">
                                        <h5 class="tfbankstyle-employee-title">日常事务处理</h5>

                                        <p class="tfbankstyle-employee-intro">办理请假出国流程、风险责任金、学历调整、职称调整等日常事务。</p>
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="tfbankstyle_ess_content_wrapper">
                                    <div class="tfbankstyle_ess_content">
                                        <img src="../images/tfbankstyle_employeeSelfService_03.png">
                                        <h5 class="tfbankstyle-employee-title">参与调查与培训</h5>

                                        <p class="tfbankstyle-employee-intro">通过填写问卷发表个人观点，参与在线学习实现自我提升。</p>
                                    </div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="tfbankstyle_ess_content_wrapper">
                                    <div class="tfbankstyle_ess_content">
                                        <img src="../images/tfbankstyle_employeeSelfService_04.png">
                                        <h5 class="tfbankstyle-employee-title">薪酬信息</h5>

                                        <p class="tfbankstyle-employee-intro">查询本人的薪酬信息</p>
                                    </div>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tfbankstyle-index-footer t-center tfbankstyle-txt-6a3800">
        Copyright © 2017 四川天府银行 版权所有
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        /**
         * BEGIN 首页左侧菜单和右侧内容高度一致
         */

        function heightConsistent(obj1, obj2) {
            var rightHeight = $(obj1).outerHeight();
            setTimeout(function () {
                $(obj2).outerHeight(rightHeight);
            }, 0);
        }

        heightConsistent(".tfbankstyle-right-main", ".tfbankstyle-left-sidebar");
        $(window).resize(function () {
            heightConsistent(".tfbankstyle-right-main", ".tfbankstyle-left-sidebar");
        });

        /**
         * END 首页左侧菜单和右侧内容高度一致
         */

    })
</script>
</body>
</html>