<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>HR首页</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/tfbankstyle.css">
    <style>
        body {
            background: url("../images/cdtj_body_bg.png") repeat-y 0 0;
        }

    </style>
</head>
<body>
<div class="tfbankstyle-index-page-container">
    <div class="tfbankstyle_homepage_logo tfbankstyle-index-inner-container">
        <a href="#"><img class="tfbankstyle-index-logo-img" src="../images/tfbank_homepage_logo.png" alt=""></a>

        <div class="tfbankstyle_homepage_logo_right">
            <a href="javascript:void(0);" class="tfbankstyle-user-portrait-wrapper"><img src="../images/tfbank_female_head.png" class="tfbankstyle-user-portrait-img" alt=""/><span class="tfbankstyle-txt-a97334">李想</span></a><a href=""
                                                                                           class="tfbankstyle_homepage_tuichu"><img
                src="../images/tfbank_homepage_tuichu.png" class="tfbankstyle_homepage_tuichu_icon" alt=""/><span
                class="tfbankstyle-txt-a97334">退出</span></a>
        </div>
    </div>
    <div class="tfbankstyle-index-content">
        <div class="tfbankstyle-index-inner-container clearfix">
            <div class="tfbankstyle-left-sidebar">
                <h2 class="menu-name">系统应用</h2>
                <ul>
                    <li><a href="../../nanjingbank/layouts/innerPage.html"><img class="tfbankstyle-icon"
                                                                                src="../images/cdtj_menu_icon.png">机构管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">岗位管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">人员管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">合同管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">考评管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">薪资管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">报表管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">培训管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">考勤管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">查询管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">党务管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">流程管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">运行管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="tfbankstyle-icon"
                                                           src="../images/cdtj_menu_icon.png">系统管理</a>
                    </li>
                </ul>
            </div>
            <div class="tfbankstyle-right-main">
                <div class="tfbankstyle-main-wrapper">
                    <div class="tfbankstyle-index-banner">
                        <img src="../images/cdtf_banner.png" class="tfbankstyle-top-banner-bg" alt=""/>
                        <a href="javascript:void(0);" class="tfbankstyle-leader-query-btn"><img src="../images/cdtf_leader_query_btn.png" alt=""/></a>
                        <a href="javascript:void(0);" class="tfbankstyle-staff_service-btn"><img src="../images/cdtf_staff_service_btn.png" alt=""/></a>
                    </div>
                    <div class="tfbankstyle-part">
                        <h3 class="tfbankstyle-title">待办事宜<a
                                class="tfbankstyle-title-more"
                                href="#">MORE >></a>
                            <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>
                        </h3>

                        <div class="tfbankstyle-main-subwrapper">
                            <img class="tfbankstyle-subject-img" src="../images/tfbank_daibanshiyi.png">
                            <table class="tfbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>新入职员工张明等待您签订入职合同</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行荣获“2015年度银行卡跨行交易技术运营水</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tfbankstyle-part">
                        <h3 class="tfbankstyle-title">最新公告<a
                                class="tfbankstyle-title-more"
                                href="#">MORE >></a>
                            <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                        </h3>
                        <div class="tfbankstyle-main-subwrapper clearfix">
                            <img class="tfbankstyle-subject-img" src="../images/tfbank_zuixingonggao.png">
                            <table class="tfbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行荣获“2015年度银行卡跨行交易技术运营水</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tfbankstyle-part">
                        <h3 class="tfbankstyle-title">最新消息<a
                                class="tfbankstyle-title-more"
                                href="#">MORE >></a>
                            <img class="tfbank-title-line" src="../images/cdtf_title_line.png" alt=""/>

                        </h3>

                        <div class="tfbankstyle-main-subwrapper">
                            <img class="tfbankstyle-subject-img" src="../images/tfbank_zuixinxiaoxi.png">
                            <table class="tfbankstyle-w100">
                                <tbody>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>南京银行互联网金融新品“南京e贷”上线运营</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>2016年第六期大额存单发行公告</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>我行发放全国首笔农房抵押贷款受到中央电视台关注</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><span class="tfbankstyle-item-para-text"><span class="double-angle-right" class="">&bull;</span>2016年第六期大额存单发行公告</span>
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tfbankstyle-index-footer t-center tfbankstyle-txt-6a3800">
        Copyright © 2017 四川天府银行 版权所有
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function(){
        /**
         * BEGIN 首页左侧菜单和右侧内容高度一致
         */

        function heightConsistent(obj1, obj2) {
            var rightHeight = $(obj1).outerHeight();
            setTimeout(function () {
                $(obj2).outerHeight(rightHeight);
            }, 0);
        }

        heightConsistent(".tfbankstyle-right-main", ".tfbankstyle-left-sidebar");
        $(window).resize(function(){
            heightConsistent(".tfbankstyle-right-main", ".tfbankstyle-left-sidebar");
        });

        /**
         * END 首页左侧菜单和右侧内容高度一致
         */

    })
</script>
</body>
</html>