<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>二级页面</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/tfbankstyle2.css">
</head>
<body>
<div class="tfbankstyle_second_container">
    <div class="tfbankstyle_second_top_part">
        <div class="tfbankstyle_second_main">
            <div class="tfbankstyle_second_logo">
                <a href="javascript:void(0);">
                    <img class="jnbankstyle-mt20 tfbankstyle-index-logo-img" src="../images/tfbank_homepage_logo.png" alt=""/>
                </a>
                <div class="tfbankstyle_second_logo_right">
                    <a class="tfbankstyle-second-user-portrait-wrapper"><img src="../images/tfbank_male_head.png"
                                                                             class="tfbankstyle-second-user-portrait-img"
                                                                             alt=""><span
                            class="jnbankstyle-txt-a97334">李想</span></a><a
                        href="jnbankLogin.html"
                        class="tfbankstyle_second_tuichu"><img
                        src="../images/tfbank_homepage_tuichu.png" class="tfbankstyle_homepage_tuichu_icon" alt=""/><span
                        class="jnbankstyle-txt-a97334">退出</span></a>
                </div>
            </div>
        </div>
        <div class="tfbankstyle_second_wrapper">
            <div class="tfbankstyle_second_header">
                <div class="tfbankstyle_second_inner-container jnbankstyle-clearfix">
                    <div class="tfbankstyle_second_nav jnbankstyle-fleft">
                        <ul class="jnbankstyle-clearfix">
                            <li><a href="#">机构信息管理</a></li>
                            <li><a href="#">机构编制</a></li>
                            <li><a href="#">机构排序</a></li>
                            <li><a href="#">组织机构图</a></li>
                            <li><a href="#">机构历史</a></li>
                            <li><a href="#">机构档案浏览</a></li>
                            <li><a href="#">机构考核数据查询</a></li>
                        </ul>
                    </div>
                    <div class="tfbankstyle_second_shoutcut-link jnbankstyle-fright">
                        <ul class="jnbankstyle-clearfix">
                            <li class="tfbankstyle_second_back"><a href="#"
                                                                   class="tfbankstyle_second_item">返回首页</a>
                            </li>
                            <li class="tfbankstyle_second_caidan"><a href="javascript:void(0);"
                                                                     class="tfbankstyle_second_item">&nbsp;</a>

                                <div class="tfbankstyle_second_caidan_dropdownmenu">
                                    <ul class="jnbankstyle-clearfix tfbankstyle_second_ul">
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">机构</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">岗位</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">人员</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">合同</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">考评</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">薪资</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">报表</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">培训</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">考勤</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">查询</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">党务</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">流程</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">运行</a></li>
                                        <li><a href="javascript:void(0);" class="tfbankstyle_second_submenu">系统</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tfbankstyle_second_bg_wrapper">
        <img src="../images/tfbankstyle_second_bg.png" alt="" class="tfbankstyle_second_bg">
        <img src="../images/tfbankstyle_second_bg02.png" alt="" class="tfbankstyle_second_bg2">
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {

        /**
         * BEGIN 二级页面背景图部分高度
         */

        var winHeight = $(window).height();
        var topPartHeight = $(".tfbankstyle_second_top_part").height();
        $(".tfbankstyle_second_bg_wrapper").height(winHeight - topPartHeight);

        /**
         * END 二级页面背景图部分高度
         */

        /**
         * BEGIN 二级页面点击菜单出现下拉框的效果
         */
        if ($(".tfbankstyle_second_caidan").length) {
            $(".tfbankstyle_second_caidan .tfbankstyle_second_item").click(function () {
                $(this).parent().find(".tfbankstyle_second_caidan_dropdownmenu").toggle();
            });


            //点击除了选择框和下来菜单的地方，隐藏下拉框
            $("body").click(function (e) {
                if ($(".tfbankstyle_second_caidan .tfbankstyle_second_caidan_dropdownmenu").is(":visible")) {
                    if (!($(e.target).parent(".tfbankstyle_second_caidan_dropdownmenu").length || $(e.target).attr("class") === "tfbankstyle_second_item")) {
                        $(".tfbankstyle_second_caidan .tfbankstyle_second_caidan_dropdownmenu").hide();
                    }
                }
            });
            /**
             * END 二级页面点击菜单出现下拉框的效果
             */
        }
    })

</script>

</body>
</html>