@charset "utf-8";

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, pre, form, p, blockquote, input, abbr, article, aside, figcaption, fieldset, figure, footer, header, mark, meter, menu, nav, output, progress, section, summary, time, button {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    list-style: none;
}

iframe, a, img, button {
    border: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

article, aside, footer, header, nav, section, figure, figcaption {
    display: block;
}

input, textarea, select, button {
    outline: 0;
}

textarea {
    resize: none;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.middle {
    vertical-align: middle;
}

.hand {
    cursor: pointer;
}

input[type=submit], input[type=button], input[type=text], textarea, button, select {
    -webkit-appearance: none;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

.t-break {
    word-break: break-all;
}

.t-wrap {
    word-wrap: break-word;
}

.t-bold {
    font-weight: bold;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-indent {
    text-indent: 2rem;
}

.t-white {
    color: #fff;
}

.m-t-05 {
    margin-top: 0.5rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-t-2 {
    margin-top: 2rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-t-5 {
    margin-top: 5rem;
}

.w-100 {
    width: 100%;
}

.row {
    margin: 0 auto;
    max-width: 100rem;
    width: 100%;
}

.t-black{
    color: #333333 !important;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    /*font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    background-color: #EBEBEB;
}