<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>HR首页</title>
    <!--<link rel="icon" href="../images/favicon.ico" type="image/x-icon" sizes="32x32">-->
    <link type="text/css" rel="stylesheet" href="../css/reset.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">

</head>
<body>
<div class="page-container homepage">
    <div class="top-header">
        <div class="inner-container clearfix">
            <div class="fright">
                <span>李想，您好，欢迎登录！</span><a href="login.html"><span class="t-ca2222 ml10">退出登录</span></a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="inner-container clearfix">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="navigation fright">
                <ul class="clearfix menu">
                    <li class="active"><a href="index.html">HR首页</a></li>
                    <li><a href="leaderQuery.html">领导查询</a></li>
                    <li><a href="employeeSelfService.html">员工自助</a></li>
                    <li><a href="#">公共下载</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-inner"></div>
    </div>
    <div class="content">
        <div class="inner-container clearfix">
            <div class="left-sidebar">
                <h2 class="menu-name">系统应用</h2>
                <ul>
                    <li><a href="innerPage.html"><img class="icon" src="../images/systemappicons/icon_01.png">机构管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_02.png">岗位管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_03.png">人员管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_04.png">合同管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_05.png">考评管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_06.png">薪资管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_07.png">报表管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_08.png">培训管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_09.png">考勤管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_10.png">查询管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_11.png">党务管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_12.png">流程管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_13.png">运行管理</a>
                    </li>
                    <li><a href="javascript:void(0);"><img class="icon" src="../images/systemappicons/icon_14.png">系统管理</a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="wrapper">
                    <div class="part">
                        <h3 class="title"><span class="line">&nbsp;</span>待办<span class="t-ca2222">事宜</span><a
                                class="more"
                                href="#">More>></a>
                        </h3>

                        <div class="subwrapper">
                            <img class="subject-img" src="../images/daiban.jpg">
                            <table class="w100">
                                <tbody>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>新入职员工张明等待您签订入职合同
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行荣获“2015年度银行卡跨行交易技术运营水...
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="part">
                        <h3 class="title"><span class="line">&nbsp;</span>最新<span class="t-ca2222">公告</span><a
                                class="more"
                                href="#">More>></a>
                        </h3>

                        <div class="subwrapper clearfix">
                            <img class="subject-img" src="../images/gonggao.jpg">
                            <table class="w100">
                                <tbody>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行荣获“2015年度银行卡跨行交易技术运营水...
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="part">
                        <h3 class="title"><span class="line">&nbsp;</span>最新<span class="t-ca2222">消息</span><a
                                class="more"
                                href="#">More>></a>
                        </h3>

                        <div class="subwrapper">
                            <img class="subject-img" src="../images/xiaoxi.jpg">
                            <table class="w100">
                                <tbody>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>南京银行互联网金融新品“南京e贷”上线运营
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>2016年第六期大额存单发行公告
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>我行发放全国首笔农房抵押贷款受到中央电视台关注
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                <tr>
                                    <td><img class="double-angle-right" src="../images/double-angle-right.png" alt=""/>2016年第六期大额存单发行公告
                                    </td>
                                    <td class="date">2016-02-18</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer t-center">
        版权所有@南京银行股份有限公司
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>